[2017-06-19 04:17] jscottsmith opened #2 "Beta pre-release"
## Beta Pre-release

The following goals and tasks should be completed for a **beta pre-release**. See the project board for the current state of tasks: [React Scroll Parallax Project](https://github.com/jscottsmith/react-scroll-parallax/projects/1)

- ~~Rename `ParallaxScrollListener` to `ParallaxController`~~
- ~~Increase test coverage~~
- ~~Complete documentation of component and ParallaxContro

[2017-06-19 04:23] jscottsmith opened #3 "1.0.0 Release"
## 1.0.0 Release

The following tasks should be completed for a **1.0.0 release**. See the project board for the current state of tasks: [React Scroll Parallax Project](https://github.com/jscottsmith/react-scroll-parallax/projects/1)

- ~~Remove `will-change` property from elements. Should be added by users as needed, not by default.~~
- ~~Test desktop browser support for major browsers.~~
- ~~Doc

[2017-06-23 06:36] jscottsmith commented on #2
Beta release [v1.0.0-beta.0](https://github.com/jscottsmith/react-scroll-parallax/tree/v1.0.0-beta.0)

[2017-06-23 06:36] #2 closed

[2017-08-06 06:08] jscottsmith commented on #3
[v1.0.0 release](https://github.com/jscottsmith/react-scroll-parallax/tree/v1.0.0)

[2017-08-06 06:08] #3 closed

[2017-08-12 16:57] xander-adkins opened #4 "ParallaxController.update() Throwing Error"
Hello @jscottsmith. Parallax Component and Listener are super cool. The component works generally, except image loading is messing up the parallax calculations, and I am having issues getting the controller to update. Any way I try to call the update() method throws an error. Any help sorting this out would be really appreciated.

Here is my code:

`
import React, {Component} from 'react'
import {

[2017-08-14 06:39] jscottsmith commented on #4
@xander-adkins After calling `ParallaxController.init()` the controller creates the `ParallaxController` global on the `window`. So calling `window.ParallaxController.update()` will avoid the error in this case.

Although this highlights a bigger issue of confusing naming I should've foreseen. In my use cases I always called `init()` in a top level component like the root of the app so I overlooke

[2017-08-14 12:07] xander-adkins commented on #4
Good catch @jscottsmith , what you've explained makes perfect sense. Both suggestions you've described have resolved the error. Thanks for your quick and thorough turnaround on this!

10/10 would do again.

[2017-08-14 12:07] #4 closed

[2017-08-21 08:07] JulianJorgensen opened #5 "Opacity prop"
Really love this library. Great job!

Wondering if you've been considering implementing support for Opacity fade based on scroll as well? I think that'd make this library very complete.

Cheers

[2017-08-22 04:42] jscottsmith commented on #5
Thanks, @JulianJorgensen

I don't have any plans of adding direct support for opacity, however I have thought about adding a prop function to the <Parallax /> component that would return the scroll position of the element. By scroll position I mean a value ranging from `0` to `1` that represents the element's current position in the viewport. That value could then be used to change any properties

[2017-08-22 05:29] JulianJorgensen commented on #5
@jscottsmith ah yes that makes total sense! Currently I've been using my own component to track scroll position through Redux. However, I suspect it is far from optimized, and would much prefer your solution above.

Not sure why there's such a scarcity of Scroll-based components/libraries for React. I know you wrote Parallax is soo not 2017 (hehe!) but I think they still have a place - specially i

[2017-09-06 01:44] oyeanuj commented on #5
@JulianJorgensen I'm in the same boat as you, and am curious where you ended up with this?

[2017-09-14 07:39] JulianJorgensen commented on #5
@oyeanuj I ended up implementing my own scroll-based opacity. Its probably not as good as this one, but does the job for now.. I still use this library and would love for it to have the opacity prop as well :-)

[2017-09-14 17:22] oyeanuj commented on #5
@JulianJorgensen could you share the rough contours or a gist of your solution?

@jscottsmith do let us know when you add the callback returning scroll position from 0 to 1 as the scroll happesn! it would be super useful for this case!

[2017-09-15 00:27] JulianJorgensen commented on #5
@oyeanuj Yesterday I attempted to extend this library so you can pass in a "fadeSpeed" prop. I didn't have time to do a full Pull Request, so just sharing you my 2 gists.

1. Update `_setParallaxStyles` in ParallaxController.js (https://gist.github.com/JulianJorgensen/d70d5b33bf30cadae26f94a455053b3c)

2. Update Parallax.js `componentDidMount` and `componentWillMount` (https://gist.github.com/Juli

[2017-09-15 08:08] paschalidi opened #6 "Getting error `window is not defined`"
First things first, this is the most complete parallax library I have come across. Good job, many thanks.

Sometimes I am getting this error that has to do with `undefined window`, the message is as follows.

`500
Internal Server Error.
window is not defined
ReferenceError: window is not defined
    at /Users/christos.paschalidis/Documents/new-vimcar/node_modules/react-parallax-component/dist/inde

[2017-09-18 16:04] skizzo opened #7 "Center Image?"
Hi,
I'd like to maximize the height of my parallax container (which is on the very top of my page), but the containing image is always aligned top/left, and not centered vertically.
How can I do that?

[2017-09-20 17:14] jscottsmith commented on #6
@paschalidi Not sure based on that error. Can you provide a repo for me to look at?

[2017-09-20 17:26] jscottsmith commented on #7
@skizzo I'm not sure what you are asking. Can you provide a repo, or maybe illustration/design of what you are trying to achieve?

[2017-09-22 18:30] #7 closed

[2017-09-22 18:33] jscottsmith commented on #6
Let me know if you are still encountering this issue.

[2017-09-22 18:33] #6 closed

[2017-10-03 17:26] deesx opened #8 "horizontal ?"
As you specify in bold that it is "vertical" on the readme

Not an issue, I might not be that clever finding out by myself, but wondering how you were achieving the following horizontal thing that was also listed in the readme : https://jscottsmith.github.io/react-scroll-parallax/examples/parallax-example/

[2017-10-03 18:48] jscottsmith commented on #8
@deesx *Vertical* is emphasized in the readme to refer to the direction of scrolling that the package supports. This means it does not support horizontal scrolling.

The example you linked is a vertically scrolling site with horizontal offsets applied to elements. Nothing clever is happening and you should be able to achieve a similar effect quite simply by providing `offsetXMax` and `offsetXMin`

[2017-10-03 18:48] #8 closed

[2017-10-04 19:47] scoutrul opened #9 "Parallax stop working if component re-render"
Hello! Thanks for plugin, I very like it!
On initial mount is everything working fine.
A problem appear after returning to the component that just freezing parallax without any errors.
I have ParallaxController.init() on the root and window.ParallaxController.update() in componentDidMount.

I do not know what to do with this, can you help me please?

[2017-10-04 21:05] jscottsmith commented on #9
@scoutrul Can you provide a link for me to see the problem -- or share the source code with me? Otherwise I won't be able to help you debug the issue.

[2017-10-04 22:49] scoutrul commented on #9
Did gave access to you [https://github.com/scoutrul/firegg/blob/master/src/components/blocks/IndexHero.js](url)

[2017-10-05 00:04] jscottsmith commented on #9
Thanks for that.

ParallaxProvider should be around your app. Remove the `<ParallaxProvider>` from `<IndexHero>` and add it to your `App.js`. Also `ParallaxController.init()` is no longer necessary. Example:

[code]

I'll clarify in the docs that the `<ParallaxProvider>` should be around your app -- or other components that are not unmounted during route changes.

Closing but if you continue to ha

[2017-10-05 00:04] jscottsmith commented on #9
Thanks for that.

ParallaxProvider should be around your app. Remove the `<ParallaxProvider>` from `<IndexHero>` and add it to your `App.js`. Also `ParallaxController.init()` is no longer necessary. Example:

[code]

I'll clarify in the docs that the `<ParallaxProvider>` should be around your app -- or other components that are not unmounted during route changes.

Closing but if you continue to ha

[2017-10-05 00:04] #9 closed

[2017-10-05 00:26] scoutrul commented on #9
Now I got it, thank you!

[2017-10-18 13:26] lipenco commented on #5
Would it be possible to make a pull request and add it to the release?

[2017-10-24 11:00] bytewiz opened #10 "IE11 issue on Update"
[code]
`Object doesn't support property or method 'findIndex'`

When it runs the updateElement function in IE11 for me I am receiving the error above.
and that breaks the entire site for me.

[2017-10-24 23:00] jscottsmith commented on #10
@bytewiz thanks, I'll work on publishing a release that supports IE. If you are blocked by this you should be able to include a polyfill like the one provided by [babel](http://babeljs.io/docs/usage/polyfill). Regardless, I'll try to provide a fix soon since it should be pretty easy.

[2017-10-25 05:41] jscottsmith commented on #10
Puplished [v1.1.1](https://github.com/jscottsmith/react-scroll-parallax/releases/tag/v1.1.1)

[2017-10-25 05:41] #10 closed

[2017-10-26 07:11] bytewiz commented on #10
@jscottsmith thanks 👍 will test it out

[2017-11-04 06:07] oyeanuj commented on #5
@jscottsmith Just checking in to see if adding the function providing scroll position is still on the radar? And/or if @JulianJorgensen's gists above can be used for the same?

[2017-11-07 06:53] oyeanuj opened #11 "Usage clarifications"
Hi @jscottsmith, thank you for putting this useful library! While using it, I was running into some issues and mostly centered around understanding the library works.

Context: My usecase is that I have an full viewport image on the homepage that I am trying to have another full viewport container scoll on top of. So my setup looks like this:
[code]

Assuming the setup is correct, I had the follow

[2017-11-08 00:01] jscottsmith commented on #11
@oyeanuj thanks for trying it out!

So, if I understand correctly, you want the first "FullViewport" image to be fixed to the window while the proceeding content would scrolls over top? If that is the case, I'm not sure this library is needed at all -- but maybe I don't completely understand.

Just in case, let me address some of your questions.

From the structure you shared this looks setup corr

[2017-11-08 00:12] jscottsmith commented on #5
Ya, I'm still not planning to add opacity support to this version. I've left this open to gauge interest in such a feature and to keep myself motivated in re-writing this package as a [v2](https://github.com/jscottsmith/react-scroll-parallax/tree/v2) that will be much more flexible and provide additional scroll effects like `opacity`. It's still not ready for a release but hoping to get a lot of w

[2017-11-08 01:34] oyeanuj commented on #11
@jscottsmith Thank you for the quick response, and the explanation. I can try and describe my experience and have whipped up a quick JSFiddle of my setup. Maybe I can try and create a gif or design to explain it as well but thought I'll give this a shot first.

---

My usecase is that I have an full width image (let's call it the ImageContainer) on the homepage that I am trying to have another ful

[2017-11-08 04:17] jscottsmith commented on #11
Hmm, so based on that description _I think_ you want to transition from a fixed position to a normally scrolling position. If that is the case you don't need this package. You'll need to track the scroll state with a listener and toggle a class from being `fixed` to `relative` on your image/div. This library won't help you with any of that unfortunately.

On the off chance I still misunderstand, a

[2017-11-10 07:02] jscottsmith commented on #11
@oyeanuj Let me know if you end up using this package and need more help.

[2017-11-10 07:02] #11 closed

[2017-11-15 04:50] oyeanuj commented on #11
@jscottsmith Thanks for your help! it seems like I might not need this at the end of the day. I am going to try a couple of things and see how it goes.

[2017-11-15 15:49] lsirivong commented on #5
Just want to say this library looks great, but agreed something with a generic 0 - 1 value would be great for our use case. Encouraging you keep on that v2 👏

[2017-11-23 13:06] iremlopsum opened #12 "The positioning of a direct sibling to a parallax Element."
I have applied parallax to only one element on a website, and I have a problem with keeping the position of the sibling right under it normal.

See a screen recording: https://cloudup.com/c_pkJK-UDrM

The element changes height on resize, but the parallax container keeps the same dimensions, I tried applying update on resize as well, but that does nothing.

What's the expected way of dealing with

[2017-11-23 13:32] iremlopsum commented on #12
So, I fixed it by wrapping all of the elements withing `Parallax` so that they would be as a single unit. Now the problem is that I have loads of empty space at the bottom the website before the footer.

Same question, how to deal with this?

[2017-11-23 21:31] jscottsmith commented on #12
@iremlopsum Sure, but I'll need to see the code to help you out. Set up an example of what you are trying to do or give me access to a repo and I'll take a look. This lib doesn't set any heights on containers, it only adds transforms to the inner parallax div. All other styles should come externally or from classes. So without seeing those I can't help debug.

[2017-11-27 07:01] #12 closed

[2017-12-01 13:28] lineldcosta opened #13 "parallaxController.update"
Hello,

Is there any examples for parallaxController.update, Since this is not working for me.

I just tried below.
in render
<ParallaxProvider ref={r => this.parallax = r}>
then
after scroll function i just call

this.parallax.parallaxController.update();

is this right?

[2017-12-01 17:37] harshayburadkar commented on #5
+1 for the scroll position function or at the least support for opacity prop. Many designs have fading effect based on the scrolling of the page.

[2017-12-02 00:35] jscottsmith commented on #5
@harshayburadkar and those wanting opacity effects -- does [this v2 demo](http://react-scroll-parallax.surge.sh/?knob-A%3A%20Opacity%201=1&knob-A%3A%20Opacity%202=0&knob-B%3A%20Opacity%201=0&knob-B%3A%20Opacity%202=1&selectedKind=Parallax&selectedStory=with%20opacity%20props&full=0&down=1&left=1&panelRight=0&downPanel=storybooks%2Fstorybook-addon-knobs) solve your individual use cases? It simply a

[2017-12-02 00:45] jscottsmith commented on #13
Not sure what you are trying to do based on that. Care to share a repo or more details about the issue are trying to solve? For the most part, you should never have to call `parallaxController.update()` unless the page layout has changed for some reason other than a resize.

[2017-12-05 00:50] #13 closed

[2017-12-05 14:34] ChCosmin opened #14 "parallax scroll speed option"
Would be nice if there was a scroll speed variable where we could set how fast the parallax-scroll would happen, also maybe some better explanation of what each attribute representes and how it affects the parallax effect

[2017-12-05 18:30] jscottsmith commented on #14
@ChCosmin Which props are you having trouble understanding? Maybe a better demo allowing to change all the props and see the effects would help? There's this [demo](https://jscottsmith.github.io/react-scroll-parallax-examples/examples/parallax-test/) of course which hopefully you've looked at, but it could be improved.

[2017-12-06 11:39] ChCosmin commented on #14
I had trouble understanding how the offsetYMin, offsetYMax worked, i tried a lot of combinations and variables in them but i couldn't make it look or behave like i wished (not sure if the structure of my html was a problem or not) but yeah. as well as the slowerscroll prop DID make it slower but not as slow as i needed so having the ability to put a speed variable on it would've helped, unless you

[2017-12-07 06:13] jscottsmith commented on #14
@ChCosmin well if you are still having trouble I can take a look at your code. Sounds like it may be an issue with the setup. Basically the larger the offsets, the more pronounced the effect. The `slowerScrollRate` prop effectively just flips these offsets internally so that it will appear that the element it moving slower than the default rate of scroll.

As for a scroll rate/speed prop, I'm not

[2017-12-07 06:13] #14 closed

[2017-12-07 07:21] jscottsmith opened #15 "Alpha v2 Release"
### Why?

[v2](https://github.com/jscottsmith/react-scroll-parallax/tree/v2) is a re-write of v1 to add new scroll effects such as opacity and scale in addition to translations. It also uses the new [Intersection Observer API](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) which is a more efficient way of determining when elements are within the viewport as compared wi

[2017-12-07 07:24] jscottsmith commented on #5
See #15

[2017-12-07 07:24] #5 closed

[2017-12-08 17:26] lsirivong commented on #15
Cool stuff! Have you considered having a way to expose this `[progress](https://github.com/jscottsmith/react-scroll-parallax/blob/v2/src/components/Parallax.js#L86-L87)` value down directly into the children render function?

If that's possible you wouldn't have to chase down every style usecase (for example, if someone wanted to do a `rotate`).

[2017-12-08 18:16] jscottsmith commented on #15
@lsirivong Yup, should be really easy. I'll add it to the list.

[2017-12-13 03:04] csantiago132 opened #16 "little yanking in Chrome, more noticeable on Safari"
Hi and first of all, thank you for this plugin!  quite frankly its wonderful to work with!

Just wanted to point out that its yanking a little in both chrome and safari but more noticeable on safari. when you scroll down, the pages kinda rethinks smooth scrolling and thats when it begins to yank a little. right now, I only have it wrapped inside an `<h1>` tag, quoting you

anyways, just wanted to

[2017-12-13 04:14] csantiago132 commented on #16
ok so after digging around, seems like css like this starts the yanking

    .css file
    ...
    background: url('../path/to/image.png');
    background-repeat: no-repeat;
    background-attachment: fixed; // <-- maybe this?
    ...

I took it out and its performing better but still. thats on version `1.1.1`

I also noticed that it only happens when the webpage is fullscreen; if you turn on web

[2017-12-13 04:53] jscottsmith commented on #16
@csantiago132 Hah, thanks for the report. I'd like to look into it further -- possible to share the repo with me?

I expect all `^1.0.0` to perform about the same. Nothing was changed in terms of optimizing jank or that would impact performance, so don't worry about rolling back. It could be related to the setup and I think you are on the right track in noting that removing `background-attachment:

[2017-12-13 17:27] lsirivong opened #17 "Question: why warn when min is greater than zero and max is less than zero?"
What the downside is of setting the offset min > 0 and offset max < 0?

With this setting I'm getting a warning

[code]

[code]

My intent was to have the content slide upwards while scrolling down the page. Is there an alternative way to create a reverse the parallax direction?

[2017-12-13 18:23] lsirivong commented on #17
Nevermind! I realize now that's what `slowerScrollRate` is for

[2017-12-13 18:23] #17 closed

[2017-12-13 18:38] jscottsmith commented on #17
Hah, I was just about to explain it. Yes, `slowerScrollRate` just flips those offset values. In hindsight I think it's poorly named and should have just allowed any values in the min/max offsets and not have added that prop. In v2 I've done just that.

Glad you figured it out. I'll update the readme to clarify this behavior and hopefully prevent further confusion.

[2017-12-13 22:54] csantiago132 commented on #16
@jscottsmith hey thanks for the quick reply (and forgive my tardiness). Let me finish up clearing stuff up and be back to my computer. also, all of a sudden, the plugin seems to be working fine so I don't know if it was a cache issue or if rolling back some dependencies I updated made it better.

[2017-12-16 01:32] jscottsmith commented on #16
Closing, but feel free to send over the code if you start encountering issues again and want me to take a look.

[2017-12-16 01:32] #16 closed

[2017-12-17 13:49] csantiago132 commented on #16
@jscottsmith sorry for the delay, I was out of town and getting back to my computer. I found the reason and it's totally unrelated to the plugin; was a third-party library being loaded but many thanks for the quick support and help. again, great plugin!

[2017-12-19 12:47] JulianJorgensen commented on #15
Really awesome! This library is really needed in the react community.

I've done a test run of v2 and works great except the scroll effect values start with a offset. Not sure how to turn the offset off.
I'd expect the content of following to start at a full opacity (1) and then 0 when it is not in view.
[code]

However, it starts at around 0.6 opacity even with the scrollbar all the way to the to

[2017-12-19 14:12] JulianJorgensen commented on #15
Would also be fantastic to have a `onVisibilityChange` prop on `<parallax>`. That way we can call methods when visibility changes, as opposed to just renders.

[2017-12-19 18:12] jscottsmith commented on #15
@JulianJorgensen

It depends where the element is within the viewport, not only the page's scroll position. If it's sitting about midway from the top and bottom, then yes, `0.6` is probably the expected opacity. With these props `[1, 0]` I would expect it to be completely opaque as it enters the bottom of the window, then be completely transparent as it leaves. Which will look like the A element o

[2017-12-22 04:26] PTcampbell commented on #15
+1 to the Opacity offset – I would expect the same thing as @JulianJorgensen (begin at 1) even though your explanation makes sense, technically.

[2017-12-22 18:32] jscottsmith commented on #15
@PTcampbell thanks for explaining your use case. I'll have to think more about what an implementation that supports this would look like.

There would need to be a way to declare what portion of the screen the element will be active in for each style prop (`x`, `y`, `opacity` & `scale`). Then this given range would need to affect each style prop independently of the others. For your use case it wo

[2017-12-22 21:24] PTcampbell commented on #15
No worries. One other thing to consider is that with the current method you could never entirely fade in an element at the bottom of the page, such as the footer. Basically I think you would need a way of specifying at which point the animation starts, e.g. the top of the viewport, the bottom, etc. akin to how it's handled with `[this plugin.](https://github.com/jlmakes/scrollreveal )`.

[2017-12-22 22:03] jscottsmith commented on #15
Ya I see what you're saying, but does the animation timing need to be tied to scroll? I think an effect like the one you describe is best handled by a class and CSS transition. You could also easily do that with this library because the `<Parallax>` component provides a boolean for when the element is in view via a child function.

Here's an example:

[code]
and the CSS:

[code]

[2017-12-22 22:07] csantiago132 commented on #15
im going to make a branch and play with this release and see how it goes, ill try what you mentioned above @jscottsmith and see if it breaks anything. what should we be looking out for?  just in case we can notice something you need to be brought up

[2017-12-22 22:50] PTcampbell commented on #15
I can imagine that some folks would prefer the animation to be tied to scroll, and others not. In my case your suggestion would work just fine. I ended up using [aos.js](https://github.com/michalsnik/aos) in tandem with your library for the parallax.

[2017-12-23 00:06] jscottsmith commented on #15
@PTcampbell great, glad that helps in your case. I'll keep thinking about the original request, it's certainly a valid use case.

@csantiago132 try it out and if you notice any bugs or performance issues please report them. I'm also open to discussion of features or changes to the API since this is just an Alpha release. Check out the [README](https://github.com/jscottsmith/react-scroll-parallax/t

[2018-01-09 03:07] oyeanuj commented on #15
@jscottsmith Curious how `ParallaxProvider` works with SSR?

+1 for components like `ParallaxImage`, and internal component like `Observed`.

[2018-01-09 05:25] oyeanuj commented on #15
@jscottsmith Just tried v2 and it worked smoothly. Thank you! Just one query -

Is there a way to control the duration of the scroll - or does it just go from 0% visible to 100% visible (and vice versa)? My usecase is to just have a slight slide up animation when the image enters the viewport.

+1 for components like ParallaxImage, and internal component like `Observed`.

[2018-01-09 18:33] jscottsmith commented on #15
@oyeanuj It will go from `0–1`; see the discussion above for details.

I would again suggest a class based CSS transition for this type of use case. [See this example](https://github.com/jscottsmith/react-scroll-parallax/issues/15#issuecomment-353681835), but replace opacity with a transform.

I'll add an export for `<Observed>` in this lib but if all you're doing is triggering animation when in v

[2018-01-11 19:13] c0d3ster commented on #15
Great progress on the repo; it's awesome to see that you're actively working on getting the v2 beta out!  This is what swayed my decision to choose this repo over react-parallax.  Once I get the current version implemented into my project, I'd be happy to help with some of these v2 objectives :)

[2018-01-11 20:09] c0d3ster opened #18 "Parallax for Background Image With Content On Top"
Hello,

I was curious as to if you could provide an example where the background image is the <Parallax> component and the content inside the image area scrolls naturally.  Prior to this library, I was using CSS to parallax the background image which made it easy to put regular HTML content on top; however, I don't think that approach works with this library due to the fact that your parallax cont

[2018-01-11 20:19] jscottsmith commented on #18
@c0d3ster If I understand you correctly you should be able to create the effect with this lib, it just takes a little more effort and the right CSS. Check this [CodePen](https://codepen.io/jscottsmith/pen/aVBvGj) out for an example of how to set it up and see if it's the effect you are looking for.

[2018-01-11 20:23] jscottsmith commented on #15
@c0d3ster Thanks, help would certainly be welcome.

[2018-01-11 20:25] jscottsmith commented on #18
Just a note to myself to add that [Demo](https://codepen.io/jscottsmith/pen/aVBvGj) to the README.

[2018-01-11 21:26] c0d3ster commented on #18
Ahhh, perfect! I didn't have the proper styling set for the children to be absolutely positioned within a relatively positioned container div.  This is slightly different than using the <img> syntax presented in the readme, so it would definitely be helpful to add this.  My project has one <Landing/> component which is similar to your HeroBanner; however, each <Section/> after the Landing does not

[2018-01-11 21:26] #18 closed

[2018-01-11 21:58] c0d3ster commented on #18
Also, I think it would be really useful if you were to export that HeroBanner as part of the v2 library calling it something like ParallaxBackground.  This would allow us to create some preset customizations for common background set ups using boolean props
`<ParallaxBackground opacityScrollPreset>
<Children/>
</ParallaxBackground>
or
<ParallaxBackground yScrollPreset>
<Children/>
</ParallaxBackgr

[2018-01-11 22:02] jscottsmith commented on #18
Ah, ya. `<ParallaxProvider>` is meant to wrap a single (usually top level component) like `<App>`. For instance if you have a simple app with routes you might have  something like this:

[code]

`<ParallaxProvider>` shouldn't be nested deep within the app -- at least there's no reason to do so. It's job is just to provide `context` to the controller when needed by a `<Parallax>` component. It won'

[2018-01-11 22:16] c0d3ster commented on #18
awesome, thanks for the quick response.  I'm looking forward to being able to access that isInView prop in my render callbacks.  I have a header that needs to appear as a fixed element, but only once the user has scrolled to where a section is in view.

[2018-01-11 22:48] jscottsmith commented on #18
You could use this for such a feature: [`react-observed`](https://github.com/jscottsmith/react-observed) (shameless self promotion). It's what I'm using in v2 to determine visibility and it's just a really simple component using the [IntersectionObserver API](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API#Creating_an_intersection_observer). There's probably others out t

[2018-01-12 18:19] jscottsmith commented on #18
Yup, that sounds right. It just observes whatever element the ref is mapped to and toggles a boolean when entering/leaving the view (depending on observer options). So you could use that boolean to trigger a state change or dispatch an action in your app.

[2018-01-24 09:44] vaclav-zeman opened #19 "Usage with Next.js"
Hi, this issue is related to https://github.com/jscottsmith/react-scroll-parallax/issues/9

I've got a Next.js app and currently use `react-scroll-parallax` on 2 separate pages (great library btw!). When you come to the page 1, the parallax works fine. But when you change route from here to the page 2, the parallaxes don't work (probably don't initialize).

The cause of the problem could be that i

[2018-01-24 15:36] vaclav-zeman commented on #19
Temporarily solved by downgrading to v1.0.2 that uses stores global ParallaxController in window object.

Could there be an option to still use the window object in new versions or are there some major drawbacks?

[2018-01-24 18:40] jscottsmith commented on #19
Thanks for reporting this. I'd like to look into it more and see if it's a bug and provide a proper fix. Can you provide your repo for me?

In case you can't here's some possible reasons you're having trouble...

I did address an issue with the ParallaxProvider not re-instantiating the controller during route changes like you linked in #9 and published a fix in [v1.1.1](https://github.com/jscottsm

[2018-01-25 09:35] vaclav-zeman commented on #19
@jscottsmith
Hey,
sure, you're welcome to try it here - https://github.com/vaclav-zeman/next-parallax-example/tree/master (just a super ugly simple demo). It uses the newest version.

The "routes" are wrapped in the Provider but when you go from one page to the other. The other parallax doesn't work.

[2018-01-25 19:51] jscottsmith commented on #19
@vaclav-zeman Thanks for that reproducible demo. It does looks like a bug -- I'm going to look into it more thoroughly and try and publish a fix.

[2018-01-28 05:22] jscottsmith commented on #19
Published patch in [1.2.1](https://github.com/jscottsmith/react-scroll-parallax/releases/tag/v1.2.1).

[2018-01-28 05:22] #19 closed

[2018-02-09 10:22] vestimir opened #20 "Option to animate css"
Is it possible to use ParallaxProvider, or Parallax to animate certain CSS property – for example adding fade in/out via `opacity`?

Is there a method, or callback that can be used to calculate some kind of a ratio?

[2018-02-09 18:16] jscottsmith commented on #20
Not in v1, sorry. I've been working on a [v2](https://github.com/jscottsmith/react-scroll-parallax/tree/v2) that supports [opacity](http://react-scroll-parallax.surge.sh/?knob-A%3A%20Opacity%201=1&knob-A%3A%20Opacity%202=0&knob-B%3A%20Opacity%201=0&knob-B%3A%20Opacity%202=1&selectedKind=%3CParallax%3E&selectedStory=with%20opacity%20props&full=0&down=1&left=1&panelRight=0&downPanel=storybooks%2Fsto

[2018-02-09 18:16] #20 closed

[2018-02-10 07:26] vestimir commented on #20
Will do, thanks for the awesome plugin!

[2018-02-13 22:17] hamishtaplin opened #21 "Element with parallax applied always transformed along Y axis when scroll position is 0"
Sorry for the long-winded title. I'm using this library (awesome work btw) to implement a parallax header similar to your example: https://codepen.io/jscottsmith/pen/aVBvGj

My issue is that I want the header to not be transformed at all until the user scrolls, so it sits flush to the top of the viewport. However, even when `window.scrollY` is `0` there's always some `transformY` being applied. Yo

[2018-02-13 22:51] jscottsmith commented on #21
Hmm, it depends on where the element is positioned relative to the viewport window. Would you mind sharing your code with, or an isolated demo of what your doing? Then I can confirm if it's expected behavior or if something else is up.

[2018-02-14 00:48] #21 closed

[2018-02-14 09:40] hamishtaplin commented on #21
Hi. Here's a preview of what I mean: https://5a8402887b6ee82bc4420066--blacklabfilms.netlify.com/

[2018-02-14 21:38] jscottsmith commented on #21
Thanks. Cool site.

Yes this is expected. The way I'm getting around it it is by expanding the height of the parallax element by the total amount of offset. Given a `-10%` min offset and `10%` max offset, you'd need to expand the height by 20% and position it correctly so the edges are never visible. I'm doing that [here in the src](https://github.com/jscottsmith/react-scroll-parallax/blob/master/

[2018-02-14 21:44] jscottsmith opened #22 "Support custom children as layer content for ParallaxBanner"
Should be possible to allow custom children for each layer of the `<ParallaxBanner>`. This would allow video or other html to parallax inside a banner. See #21

[code]

[2018-02-21 00:03] webberwang commented on #22
Yeah I can't get text to parallax, only images

[2018-02-21 01:06] jscottsmith commented on #22
Ya not quite possible at the moment. This should be an easy thing to add though so I'll try and get some work done on it this week. Hang tight.

[2018-03-05 02:46] jscottsmith commented on #22
Published [v1.3.2](https://github.com/jscottsmith/react-scroll-parallax/releases/tag/v1.3.2)

[2018-03-05 02:46] #22 closed

[2018-03-12 16:33] calsal8 commented on #15
Thank you for working on this repo!
Not sure if I've missed something but I would like to change scroll rate to a higher value so that the element moves faster without affecting the offset. I've set sloweScrollRate to false to make the element move upwards on scroll down. To make it move faster I've set `offsetYMax` to 1000 and `offsetYMin` to -1000, but that also affects the animation when it's n

[2018-03-12 17:16] jscottsmith commented on #15
@calsal8 ya I think you misunderstand how the library is designed to work, or I don't understand the problem. The offsets are used to give an element the varying appearance of scroll speed. Increase the offsets the more the dramatic the effect.

Not sure if the question is meant to relate to v2 since you're referencing the v1 API. If you're having trouble with implementation open a new ticket and

[2018-03-13 09:30] calsal8 opened #24 "Change appearance of scroll speed without affecting when element is not in viewport"
@jscottsmith Sorry if I posted in the wrong place, I thought my question was related to a new feature that could be included in V2. But let's clarify the question here first. Maybe the library is not designed to work as I would hope. Either way I find it very useful.

When I change the offsets the appearance of scroll speed change, just as you wrote. I've used `offsetYMin={-1000}` to achieve the f

[2018-03-13 13:57] calsal8 commented on #24
@jscottsmith I can open a new pull request to quickly show you what I mean?

[2018-03-13 17:18] jscottsmith commented on #24
@calsal8 no worries, and thanks for opening this issue! Ya I just didn't want a bunch back and forth trying to figure out what you are after. Definitely open to changes in v2 if they improve the library.

This shouldn't happen. Can you share your particular setup with me? A repo or live site would be best for me to understand what you're trying to do and what the problem is.

Absolutely.

[2018-03-14 10:13] calsal8 commented on #24
@jscottsmith Okay, maybe that's because my moving element is greater in height than it's container? Unfortunately the setup is private for a company I'm working with but I'll try to explain it here. The parent container gets it height from some text elements and has `overflow: hidden`, the parallax component inside is `position: absolute; height: 100%; width: 100%`, which has many (about 15-20) SV

[2018-03-14 15:52] jscottsmith commented on #24
Ya, I think the best way for me would be to see an example. A simple setup that reproduces the behavior would be ideal -- doesn't have to be pretty. Hard to say if it's a bug or if it's a use case that should be a supported otherwise without seeing the implementation.

[2018-03-14 16:38] calsal8 commented on #24
Yeah I get that. I wouldn't say it's a bug, just a different use case. I've added a [simple setup on Codepen](https://codepen.io/calsal/pen/zWryXP?editors=0110) which is not pretty, but I think it shows what I'm after.

In the example there are five SVGs positioned under each other and the third one is half visible when the user has scrolled down to the point where the section is about to leave th

[2018-03-14 17:49] jscottsmith commented on #24
Ok, I think I'm beginning to see the issue you are running in to. It revolves around the way that I'm calculating the percentage that an the element has moved through the viewport and the bounds that the element occupies. With very large offsets the bounds increases dramatically and the effect of offsets almost becomes negligible. You can actually see these ["bounds" in v2](http://react-scroll-par

[2018-03-16 15:01] fedorovsky opened #25 "not working ie11"

[2018-03-16 15:01] fedorovsky commented on #25
not working

[2018-03-16 17:01] jscottsmith commented on #25
What's "not working"?
What version are you using?
Any console errors?
Steps to reproduce?

Any of the above would be helpful. Thanks.

[2018-03-20 23:27] #25 closed

[2018-03-21 19:00] CYB3RL1F3 opened #26 "Choppy parallax on safari"
Hi,

I'm using your component in an app I'm currently working on, but it's actually choppy on scroll... There are some animations run in the same time, but it works perfectly on Chrome. Firefox is a bit choppy too.

I read on the web that it could be solved with material acceleration. I tried to set up on .parallax-inner the two followings :

[code]

But that hasn't any effect... Any clue why it's

[2018-03-21 19:32] jscottsmith commented on #26
Nope. Hard to know based on this information alone. I also doubt GPU hacks will help much. Most likely it's due to how the component is being used or other heavy animations/processes that are running on the page.

I'll need to see your particular setup (repo, or live site) to provide any useful help/advice.

[2018-03-22 13:37] CYB3RL1F3 commented on #26
Yep. There is sadly an heavy process asked by the customer : a magnetic scroll.

https://github.com/CYB3RL1F3/react-magnetic-scroll

And I'm also using a sticky component... I optimized a bit the magnetic scroll, and now it's perfect on Firefox, but it remains slowly on Safari.

The parallax components are set in a container that hosts all parallax components. This "mother" is positionned absolute

[2018-03-22 17:22] jscottsmith commented on #26
Thanks for the explanation but like I said I'll need to see the code to provide any useful advice. There's far too many factors to consider otherwise. :)

Let me know if you can't provide the repo or site.

[2018-03-26 16:59] #26 closed

[2018-03-27 00:40] csantiago132 commented on #26
@CYB3RL1F3 delete the old service worker (if you have one) and try again, sometimes the old cache conflicts with the new one. I had the same situation and solved it by doing so. There's a Chrome plugin called Clear Service Worker that would help.

CC: @jscottsmith

[2018-03-27 03:34] jscottsmith commented on #26
@csantiago132 Interesting, I suppose that could be an issue if he has a service worker too. Not sure what his setup looks like though.

[2018-04-03 14:32] CYB3RL1F3 commented on #26
I'm not using any service worker. Anyway, no problem at all with chrome, the issue is with Safari, only Safari... :/

[2018-04-04 18:15] jscottsmith commented on #26
Are you using v1? Just wondering because the v2 alpha uses the IntersectionObserver which hasn't been implemented in Safari and can result in some stuttering from the polyfill.

Would you mind setting up a repo that reproduces the choppyness? I'd be interested in taking a look as mentioned before :)

[2018-04-06 16:56] jscottsmith commented on #26
Ya that sounds like the likely culprit.

And v2 is a prerelease so unless you installed it explicitly with `@alpha` or `@next` you should be on v1 -- I wouldn't use v2 in production yet ;)

[2018-04-07 17:49] grod220 opened #27 "One chrome-mobile, a jump after address bar scroll"
BUG report:

On chrome for mobile (Android), whenever you scroll past the address bar at the top, there is a small stutter in the parallax image. It seems to resize to accommodate more space that's available.

Evident on personal dev project and examples: https://jscottsmith.github.io/react-scroll-parallax-examples/examples/parallax-example/.

[2018-04-07 18:14] jscottsmith commented on #27
Thanks for the report but this is just do to styling, not the parallax library. Guessing I used 100vh to position the section and Chrome resizes the window when the bar goes away. This is a pretty common issue when dealing with full screen positioning of elements.

Going to close since it doesn't relate to the lib and I don't plan on fixing the example.

[2018-04-07 18:14] #27 closed

[2018-04-08 17:33] grod220 commented on #27
Chrome does not resize the view height when the bar goes away as of last year (see: https://developers.google.com/web/updates/2016/12/url-bar-resizing). Think it may be something else as I've seen it on a number of other examples. I also noticed that the background jump is slightly less pronounced when using Parallax Banner.

[2018-04-08 17:59] jscottsmith commented on #27
Interesting, thanks for sharing. I hadn't realized they had updated that behavior.

If you have an idea of what's causing this related to the lib, I'm open to hearing about it.

Also, I should say, I don't recommend using parallax effects on mobile devices. I should probably make that more clear in the readme (it's all the way at the bottom in the PSA) ;)

[2018-05-22 12:08] zilahir opened #29 "support: how to access parallax-inner by its ref"
Hey!

I want to access the dom element parallax-inner by its ref.

I wanna do something like the following:

[code]

Any help would be appreciated! Thank you!

[2018-05-22 12:11] zilahir commented on #29
Additional info: i want to get the `transform: translae3d` property, when `scroll` event is detected.

[2018-05-22 17:26] jscottsmith commented on #29
Hmm, why do you need to do that? Seems strange to me.

Based on your code, `this.secondeParallax` is referencing a class, not an element. That's why you are getting the error. You could get the inner ref from that class. It should be the `_inner` property, [see here](https://github.com/jscottsmith/react-scroll-parallax/blob/master/src/components/Parallax.js#L110).

[2018-05-23 10:27] zilahir commented on #29
Thanks!

Could you provide a quick example how can i access that ref from my Comonent?

The component where `Parallax` is also placed. That would be a great help!

Thanks!

[2018-05-23 17:30] jscottsmith commented on #29
[code]

That should work based on your code.

Though, I wouldn't recommend it. Those refs are meant to be private and accessing DOM properties from them is poor practice.

[2018-05-23 17:30] #29 closed

[2018-05-24 22:32] kennethormandy opened #30 "License file"
Hello! I was wondering if you would be open to adding a license file to this project / clarifying what license the component is available under?

Right now, the only information I could find is in the `package.json` (ISC), which I imagine is from the `npm init` default.

Thanks for your hard work on this. By the way—I worked on Surge, so it’s always cool when I stumble across something I’m looking

[2018-05-25 04:06] jscottsmith commented on #30
Yup, ya got me! 😄
I'll add an MIT license and get a release out soon. Thanks for the issue.

Oh and Surge is great, thanks for your work!

[2018-05-25 06:58] jscottsmith commented on #30
published [v1.3.4](https://github.com/jscottsmith/react-scroll-parallax/tree/v1.3.4)

[2018-05-25 06:58] #30 closed

[2018-05-25 17:21] kennethormandy commented on #30
Thanks so much!

[2018-05-29 00:24] dam4222 opened #31 "Mobile Scrolling causes content in <Parallax> container to jump up and down"
Support

Expected Behavior

On mobile device, <Parallax> content stays relative to the position it was in originally.

Actual Behavior

On mobile device, scroll causes content in <Parallax> container to jump up and down.
https://www.dropbox.com/s/45k7x7yidsjo4vz/ScreenRecording_05-28-2018%2021.MP4?dl=0

[2018-05-29 18:59] dam4222 commented on #31
Yup, please see a link to my code below:

https://github.com/dam4222/academy-v3/blob/staging/pages/process.js

[2018-05-30 08:13] jscottsmith commented on #31
I believe this is due to the `<Parallax>` element being placed within a `position: fixed` container. The lib really wasn't designed with using fixed elements in mind. It's meant to only apply offsets when things are in view as they scroll by. But when it's fixed to the viewport this screws up those calculations as the element is always within view. It's also been brought up before, but I haven't w

[2018-05-30 15:21] dam4222 commented on #31
Thank you so much for your time and help, much appreciated. I will investigate this issue and try to post my solution here.

[2018-05-31 05:05] jscottsmith commented on #31
updated readme in [v1.3.5](https://github.com/jscottsmith/react-scroll-parallax/tree/v1.3.5)

[2018-05-31 05:05] #31 closed

[2018-06-02 08:48] sayedsaeedhosseini opened #32 "styleInner not added to the element"
I was trying to add rotate style to the element with styleInner and StyleOuter but styleInner doesn't add my style to the element.

[code]
* Version: 1.3.5

[2018-06-02 09:01] sayedsaeedhosseini opened #33 "Custom animation"
Add custom animation props to get from/to animation style.
I need to add style my self, such as rotate or scale style and change their values on scrolling.
Example: I need to add rotate style to the element from 0deg to 180deg. It must work when page scroll.

[2018-06-02 17:47] jscottsmith commented on #32
Hi, thanks for the issue.

This is because the `transform` property is used internally by the lib, so your rotations are being overwritten by a translate value.

Closing as I don't intend to change this.

[2018-06-02 17:47] #32 closed

[2018-06-02 17:49] jscottsmith commented on #33
Thanks, this has been discussed before and will not be supported in v1.

I do plan to support this in v2. [See here for details](https://github.com/jscottsmith/react-scroll-parallax/issues/15)

[2018-06-02 17:49] #33 closed

[2018-06-23 22:15] adamjw3 opened #34 "how to use this in scrollable div"
title says it all. my elements is in a scrollable div so this isn't working

[2018-06-24 22:28] jscottsmith commented on #34
Ya that's not supported. I can look into it.

[2018-06-25 06:28] adamjw3 commented on #34
@jscottsmith that would great, any idea how long that will take?

[2018-06-25 21:00] jscottsmith commented on #34
Hmm, not sure. I'll try to look into it this week. But I've been short on time so don't hold your breath waiting for a release.

[2018-06-27 08:49] adamjw3 commented on #34
@jscottsmith I might take a look and create a pull request for this if thats ok?

[2018-06-27 21:55] jscottsmith commented on #34
Absolutely!

[2018-06-28 13:22] csantiago132 opened #35 "problems when viewed on a monitor"
## Expected Behavior

Smooth parallax effect on a 32 in. computer monitor.

## Actual Behavior

not so smooth parallax effect on a 32 in. computer monitor (little jank going on), you can somewhat see the element jumping slightly. I realized this when seeing the same behavior on the demo site after trying to figure out what was wrong with mine.

[code]

## Steps to Reproduce the Problem
1. I opened

[2018-06-28 17:00] jscottsmith commented on #35
Hey, thanks for the issue, but I'll need to see the codebase or a link to provide any advice on this one.

[2018-06-28 19:29] csantiago132 commented on #35
@jscottsmith no need, it happens when you open the demo site on a big monitor (in this case, 32 in.). I think it can be two things; 1- since the monitor is bigger, you can see the refresh rate and maybe this is what throws me off -or- 2- the resolution/scale config on the monitor makes it look like that. If you open the demo site on a monitor and if it looks ok, then its my monitor.

[2018-06-28 21:15] jscottsmith commented on #35
Could also just be a resource issues -- takes more memory/GPU to move bigger images. If you have other resource intense processes/animations on the site or in the background you might want to disable or isolate and see if that's a source.

[2018-06-28 22:59] csantiago132 commented on #35
yeah, I checked using only my laptop and seems to be the size of the screen, works smoothly on my laptop. I wonder if there's a way to trigger hardware acceleration somehow and maybe try that out. what do you think?

[2018-06-28 23:37] csantiago132 commented on #35
ok so I tried this out very quickly and i see some improvement (actually, very good) on the monitor

[code]

im not a guru at css but so far, its an improvement. The idea of this aproach came from:
https://developers.google.com/web/updates/2016/12/performant-parallaxing

its widely supported (caniuse): https://caniuse.com/#search=transform

however, idk if you likr this approach, if you do, ill di

[2018-06-29 02:46] csantiago132 commented on #35
ok im sorry haha, will close now

[2018-06-29 02:46] #35 closed

[2018-06-29 05:36] jscottsmith commented on #35
No worries, let me know if you discover any other possible reasons for the jank.

[2018-07-21 05:33] jscottsmith opened #36 "Add support for new context API"
Use React 16.3.0 new [context API](https://reactjs.org/docs/context.html).

- [x] Update the `<ParallaxProvider>` and `<Parallax>` to use new context API
- [x] Document usage of controller methods with new context changes
- [ ] Support old API for accessing controller methods
- [ ] Add new tests/Fix broken tests

[2018-08-16 20:36] eedrah commented on #34
Hmmm, yeah, I was thinking this would scroll relative to where the ParallaxProvider was placed... That is, if my Provider is inside a div, and I scroll that div, then the Parallax works. But if inside my Provider is another div that can scroll, then scrolling that would not affect the parallax.

That's at least how I imagined it to work - but from the above conversation it doesn't work that way?

[2018-08-16 21:09] adamjw3 commented on #34
I have made zero progress on this

[2018-08-17 21:48] jscottsmith commented on #34
@eedrah sorry, haven't made much progress. Did start looking into it, but it takes a bit of effort to support scrolling in user specified elements. Currently it works by assuming you're using the default scroll element which is the `<body>` . The provider can be placed anywhere, it just adds the scroll listeners and provides context to children -- it does not affect which area is being scrolled.

[2018-08-23 17:08] eedrah commented on #34
Thanks for the reply!

Ah, I see... in the ParallaxController it references the window.innerHeight and pageYOffset and things...

Are you thinking about supporting the upcoming React17? Maybe if you have to re-write the lifecycle methods this would be a good time to adapt the scroll element to support scrolling inside the Provider.

(https://reactjs.org/blog/2018/03/27/update-on-async-rendering.ht

[2018-08-24 03:39] jscottsmith commented on #34
Ya this definitely needs a bit of a re-write to address things. Just need to find the motivation ... 🤔

[2018-08-29 13:54] VilhelmNielsen commented on #15
Why is styleInner, styleOuter and Tag props omitted from v2 alpha?

[2018-08-29 14:38] csantiago132 commented on #15
@VilhelmNielsen I think theyre still there, this is inspecting the Storybook link at the top.
[code]
Since hes working on this now, let him do his thing and lets see how everything will be handled. im prettu sure he'll explain all this when hes done

[2018-08-30 07:53] VilhelmNielsen commented on #15
@csantiago132 Apologies if my comment sounded harsh or demanding. Migrating from v1 to v2-alpha, none of those three props seem to work, so my question was seeking answers as to whether the API around these were changing or whether they just aren't implemented yet. The props seem to be omitted from the v2 docs, so I thought clarification was necessary, so any one can help out with the development.

[2018-09-03 22:15] csantiago132 commented on #15
@VilhelmNielsen no offense, not at all and just trying to help out. From inspecting/playing with the storybook, I can assume theyre there, maybe not! I havent mess around with the alpha release so I honestly cant tell. Maybe he will change the API, maybe not, thats all im trying to say

[2018-09-04 19:09] TheDarangel opened #37 "ParallaxBanner video direction"
## ParallaxBanner video direction

Hi,
I added a ParallaxBanner to my project with a <video /> children but the parallax direction is going from bottom to top when I scroll down, I'd want it to go from top to bottom (like if it follows the scroll)

I compared it to the ParallaxBanner video example on [this website](http://react-scroll-parallax-v1.surge.sh/?selectedKind=%3CParallaxBanner%3E&selecte

[2018-09-05 20:57] nicelemon opened #38 "Disable Scroll Effects on Mobile"
### Support

## Trouble Disabling on Mobile

Hi! I've experienced some layout issues on a few of my devices and was hoping to disable the scrolling effects on mobile. I noticed you'd mentioned this as a best practice in the readme and was hoping you might be able to recommend a way to implement. Thanks!

[2018-09-05 22:03] csantiago132 commented on #38
@nicelemon I did this little codesabox to show it to you instead if trying to explain it here, this is (at least)how im doing it

Theres an event listener to constantly check if the window is being resized, and if it gets resized, itll change your value. hope this helps!

https://codesandbox.io/s/5z3x61qqxk

[2018-09-05 22:31] csantiago132 commented on #38
Or set the prop to “true” based on window.width, up to you

[2018-09-06 05:15] jscottsmith commented on #38
@nicelemon Yep, as @csantiago132 suggested and demonstrated, adding a resize listener checking the window width and updating the disabled prop is the simplest way and how I would approach it.

[2018-09-06 15:29] nicelemon commented on #38
@csantiago132, can't thank you enough for the quick and detailed response. Passing it as a boolean worked perfectly for my setup! @jscottsmith, thanks for the awesome plugin and for weighing in!

[2018-09-06 15:29] #38 closed

[2018-09-06 15:43] csantiago132 commented on #38
@nicelemon no problem! glad I could help!

[2018-09-06 21:27] yuliwna1 commented on #24
Thank you for this great library! How could I disable all parallax effects on mobile devices though?

[2018-09-06 21:31] jscottsmith commented on #24
Thanks @yuliwna1, this issue should help you out with that: https://github.com/jscottsmith/react-scroll-parallax/issues/38

[2018-09-06 21:42] yuliwna1 commented on #24
Thanks a lot!

[2018-09-20 15:35] yuliwna1 commented on #35
Hey @jscottsmith! I'm dealing with the loading issue. The parallax effect is not loading properly when a user first hits the page, it only loads after refreshing the page. What can cause it? Thanks a lot!

[2018-09-20 18:00] jscottsmith commented on #35
@yuliwna1 Can you open a new issue and share a link to your project repo or live website? There's also some info about the likely causes of this in the [troubleshooting](https://github.com/jscottsmith/react-scroll-parallax#troubleshooting) section.

[2018-09-20 18:44] yuliwna1 opened #39 "Loading Issue"

[2018-09-20 19:10] #39 closed

[2018-09-20 19:11] yuliwna1 commented on #35
Thanks a lot! There was a caching problem. Fixed it with update()

[2018-10-03 08:36] olegreznichenko commented on #36
Just want to add
`create-react-context` - for supporting old react

[2018-10-03 08:43] olegreznichenko opened #40 "Deprecated lifecycle hooks"
## Feature Request

https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html
It will be good to migrate to new hooks.

https://github.com/jscottsmith/react-scroll-parallax/blob/master/src/components/ParallaxProvider.js#L20
https://github.com/jscottsmith/react-scroll-parallax/blob/master/src/components/Parallax.js#L69

[2018-10-04 12:39] romankrebs opened #41 "Sometimes it is useful to use a negative value."
https://github.com/jscottsmith/react-scroll-parallax/blob/9bc2b3b7149c82a46b335b967ae44a435ab16bfb/src/utils/propValidation.js#L38-L42
I have to make a monkey patch to remove restrictions when using negative offsetMax values. Perhaps we remove these limits?
I can do PR :)

[2018-11-02 16:27] Krex0r opened #42 "ParallaxBanner Children not displayed"
Hello, i'm very new to web dev.

My _ParallaxBanner_ background image works,
but the **children** (title and subtitle) are not working, like if the image was on them.
Is it a problem with CSS?

[code]

Thank you for your time

[2018-11-06 22:15] Sleskesty commented on #42
it looks like this is fixed by changing your child element's css if you look at the source code in the stories file it pulls the text forward with a class in the scss file

[2018-11-08 04:59] jscottsmith commented on #42
@Krex0r If you want the title/subtitle to be above the banner you will need to include some custom css, or you could include additional layers in the banner, something like:

[code]

See the [stories](https://github.com/jscottsmith/react-scroll-parallax/blob/master/stories/ParallaxBanner/ParallaxBanner.stories.js) for other examples

[2018-11-08 04:59] #42 closed

[2018-11-08 05:03] jscottsmith commented on #41
You can use the [`slowerScrollRate`](https://github.com/jscottsmith/react-scroll-parallax#parallax-props) prop, it internally flips the values which is probably what your are trying to achieve. I won't do this in the next version because it's confusing, but leaving it as is for now. Thanks.

[2018-11-08 05:03] #41 closed

[2019-01-08 15:26] myleshyson opened #44 "Breaks on IE 11 because of array.find method"
This package breaks on IE 11 because of the array.find method. I added a polyfill to my site to make it work, but I think you can either add that to the documentation or polyfill it in the package itself.

I think for example the problem lies in snippets like this.

[code]

I'm using version 1.3.5.

[2019-01-23 17:44] pavelhamrik commented on #36
Hi guys, I just can't get the context working.

I'm not using PropTypes to start with, nor do I want to, nor doe the [React docs on Context](https://reactjs.org/docs/context.html#classcontexttype) mention using it like that.

Is there a way to get it working without PropTypes?

I tried, as documented in React docs:
- `MyClass.contextType = ParallaxController;` after declaring MyClass
- `<ParallaxC

[2019-01-30 09:47] expertup opened #45 "React prallax scroll background video"
I need do page with scroll parallax video background. I found this example:
[link](http://react-scroll-parallax-v1.surge.sh/?selectedKind=%3CParallaxBanner%3E&selectedStory=with%20a%20video&full=0&addons=1&stories=1&panelRight=0)
But I can't found source for this example.

This is My code:

< ParallaxProvider >

 		<Parallax
 			style={{margin: "0 !important;"}}
 			offsetYMax={200}
 			offsetYMin

[2019-01-31 13:39] nagman opened #46 "Use of px unit"
Hi,

I can't figure out how to use the `px` unit with the `<Parallax>` component.

When I do this : `<Parallax offsetYMin="-60px">`, I get the following error:
[code]

[2019-02-08 07:08] jscottsmith commented on #46
Hey, try this:

[code]

Offsets default to percent if no unit is passed.

[2019-02-08 07:08] #46 closed

[2019-02-08 07:09] jscottsmith commented on #45
Source code is here: https://github.com/jscottsmith/react-scroll-parallax/blob/master/stories/ParallaxBanner/ParallaxBanner.stories.js#L84

[2019-02-08 07:09] #45 closed

[2019-02-08 07:14] jscottsmith commented on #15
Closing this because the alpha has performance issues with moving things to state. Working on another branch to hopefully address some of these features in a more performant way.

[2019-02-08 07:14] #15 closed

[2019-02-08 07:17] jscottsmith commented on #36
New API is not supported, sorry. Hoping to finish an alpha soon using new API and fixing some other issues.

You'll need to use the old context API on the current version.

[2019-02-08 08:11] pavelhamrik commented on #36
Understood. Thank you for the answer and your effort in upgrading the lib!

[2019-02-12 19:27] eballeste commented on #17
version 2?

[2019-02-12 22:29] jscottsmith commented on #17
Ya, working on it. I'll try and cut an alpha soon.

https://github.com/jscottsmith/react-scroll-parallax/tree/next

[2019-02-18 05:47] jscottsmith opened #47 "V2 Beta: Next Release"
# V2 Next

Publishing a new alpha to address some long standing issues and to make some API changes. Please give it a try and post any concerns, requests, or issues.

[code]

I've started updating the readme but have a ways to go. See here: [README](https://github.com/jscottsmith/react-scroll-parallax/tree/next)

Also the storybook for this version is published here:
http://react-scroll-parallax-n

[2019-02-18 05:47] jscottsmith commented on #36
will fix in v2. See #47

[2019-02-18 05:47] #36 closed

[2019-02-18 05:48] jscottsmith commented on #40
will fix in v2: see #47

[2019-02-18 05:48] #40 closed

[2019-02-18 05:49] jscottsmith commented on #24
fixed this in v2. See #47

[2019-02-18 05:49] #24 closed

[2019-02-22 07:52] jscottsmith commented on #34
added to the latest alpha: #47

[2019-02-22 07:52] #34 closed

[2019-02-28 12:25] rajanizwt opened #48 "Parallax Not working on Initial Loading"
Hello @jscottsmith , Thanks for this good library

Parallax is not working on initial loading when i resize window then parallax was working properly I don't know why this issue was coming..

Also i have add ParallaxProvider in my App.js

[code]

[2019-02-28 19:56] jscottsmith commented on #48
You need to update the controller when the image loads. Values are cached when the component mounts but the image probably hasn't loaded. It's in the README.

https://github.com/jscottsmith/react-scroll-parallax#usage
https://github.com/jscottsmith/react-scroll-parallax#example-usage-of-context
https://github.com/jscottsmith/react-scroll-parallax#troubleshooting

[2019-02-28 19:56] #48 closed

[2019-03-07 07:51] jscottsmith commented on #47
[publisher v2](https://github.com/jscottsmith/react-scroll-parallax/releases/tag/v2.0.0)

[2019-03-07 07:51] #47 closed

[2019-03-10 00:04] JoleMile opened #50 "React 16.3.0-0 peer dependency"
Why does this library have this peer dependency? Could it be updated?
https://github.com/jscottsmith/react-scroll-parallax/blob/master/package.json#L62

[2019-03-10 00:08] #50 closed

[2019-03-12 17:55] ozio opened #51 "TypeScript declaration file"
## Feature Request

People can't use this library in their TypeScript projects, because there is no [TypeScript declaration file](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html). Usually, for me it's easier to make own typings, but making typings for this project is more complex and takes more time then I can spend on it right now.

TypeScript becomes very popular

[2019-03-12 21:19] jscottsmith commented on #51
@ozio thanks, I can look into this. I haven't used TypeScript much but do see the value in it.

I'm unfamiliar with the ecosystem revolving around TypeScript projects though -- wouldn't there be an easy way to integrate this without adding types to all functions, vars, etc? Like declaring `any` types for everything. Doesn't provide type safety but perhaps it can make the lib work with TypeScript p

[2019-03-13 14:38] ozio commented on #51
OK, I'll try to solve it. But I'm not sure when.

[2019-03-13 17:09] jscottsmith commented on #51
Thanks, I will also look into it soon.

[2019-03-15 03:22] dohomi opened #52 "support webp as image banner"
Hello,

If layers image consist of a WebP image format they are not been rendered with `ParallaxBanner`. I am not sure if this is actually a feature or bug at the moment. This is an example setup:
[code]
Best,
Dominic

[2019-03-15 06:18] jscottsmith commented on #52
@dohomi What browser? Support for WebP is still limited https://caniuse.com/#feat=webp

I'd recommend [feature detection](https://modernizr.com/) and pass the appropriate type of `image` prop to the component. Not much I can do about this in the component itself I'm afraid.

[2019-03-15 06:18] #52 closed

[2019-03-15 06:22] dohomi commented on #52
Hi @jscottsmith
I do webp detection and only in use with ParallaxBanner the image is not being loaded. I use an the image proxy this are the URLs maybe its because of the URL schema?
[code]
Is there maybe an issue of using the `filters:format(webp)` as a string? Thats the syntax of Storyblok image proxy API.
Thanks for your swift response

[2019-03-15 06:38] jscottsmith commented on #52
Hmm, I'm not totally following.

Is your code publicly accessible? Might help me understand the issue more clearly. Or put together a simple demo that reproduces the issue. Happy to take a look if so.

[2019-03-15 07:11] dohomi commented on #52
@jscottsmith I forgot to wrap the img src as string correctly. All good sorry for the noise and thanks for the excellent component.

[2019-03-31 00:34] ricokahler commented on #51
@jscottsmith Are you open to PRs? I just wrote some typings

[2019-03-31 01:24] SoaresMG commented on #51
@ricokahler perhaps create it on [@types](https://github.com/DefinitelyTyped/DefinitelyTyped#readme) global namespace.

I can help if anyone is interested.

[2019-03-31 07:25] jscottsmith commented on #51
@ricokahler Yes! PRs appreciated. Especially if there is a simple update to at least get the lib working with TypeScript projects.

[2019-04-01 19:30] ricokahler commented on #51
@jscottsmith https://github.com/jscottsmith/react-scroll-parallax/pull/53

[2019-04-03 11:00] visualcookie opened #54 "Speed control"
## Feature Request

Speed control of a parallax element would be useful, to have different speeds while scrolling. Right now all parallax elements animate with the same speed.

May use-case right now: think of art shapes (lines, triangles, ...) which are on different speed levels (eg. the triangle is on 0.3 and the rectangle on 0.1), this would make the rectangle the slowest and the triangle the f

[2019-04-03 17:39] jscottsmith commented on #54
@visualcookie did you look at the storybook? The API doesn't use a `speed` property but rather start and end offsets. Speed is controlled by increasing those offsets.

Elements moving at different "speeds":
https://react-scroll-parallax-next.surge.sh/?path=/story/parallax-vertical--linear-y-offsets

Source code:
https://github.com/jscottsmith/react-scroll-parallax/blob/master/stories/Parallax/1_Pa

[2019-04-04 06:21] jscottsmith commented on #51
Published [2.0.6](https://github.com/jscottsmith/react-scroll-parallax/tree/v2.0.6) with typings. Let me know if there's issues

[2019-04-04 06:21] #51 closed

[2019-04-04 07:52] visualcookie commented on #54
Hey @jscottsmith. I've set-up a sandbox of my use-case right now. It's not quite accurate, but it shows how it's set-up on my website right now.

The issue I'm facing right now:
- Lines not even moving (value changes when looking in DOM)
- Content moving, but positions are getting weirdly misplaced, when playing around with the `y` values

[2019-04-04 16:37] jscottsmith commented on #54
@visualcookie I’ll need a link to the sandbox.

[2019-04-05 04:44] sccorby opened #56 "Update parallaxController to include method to set the scrollContainer"
## Feature Request

So that this component could be used with server side rendering (Gatsby is my case), it would be extremely helpful to be able to expose a method as part of the `parallaxController` api to update the scrollContainer property on `ParallaxProvider`.

In a SSR environment, the reference the the DOM element that is the scrolling container won't be known until `componentDidMount` in

[2019-04-05 06:23] jscottsmith commented on #56
Hey @sccorby, thanks for the clear issue -- let me look into it. It makes sense to have a method as you suggest.

[2019-04-05 07:15] visualcookie commented on #54
@jscottsmith Oops, sorry, forgot to paste the link.

https://codesandbox.io/s/40nq75p6xw

[2019-04-06 18:40] jscottsmith commented on #54
Your styling is causing the issues.

First thing, you won't be able to rotate the parent holding the parallax elements and get expected effects. If you need to rotate with transforms apply the styling to children.

Using absolute positioning can be tricky. I suggest positioning the parent absolutely and applying parallax effects to a relatively positioned child.

The effects you want are in one of

[2019-04-06 18:40] #54 closed

[2019-04-07 00:21] jscottsmith commented on #56
Published [v2.1.0](https://github.com/jscottsmith/react-scroll-parallax/tree/v2.1.0)

Adds `updateScrollContainer` as a method to the controller but you shouldn't need to call it. The \<ParallaxProvider> was updated to call this method when the `scrollContainer` prop changes.

Updated [story demonstrates this](https://github.com/jscottsmith/react-scroll-parallax/blob/master/stories/ScrollContainer

[2019-04-07 00:21] #56 closed

[2019-04-10 03:12] peterEycyeh opened #58 "Only work properly when I resize my browser manually"
Hi, I really like this repo. It is amazing, especially in version 2. quite clean and easy to implement. However, the parallax always work properly when I resize my browser manually. Thus, I think it is because of the cache, but I update updating the cache when image load, it seems nothing happened. Even I set a timer say update the cache after 5 second. Would you please give me a hint to let me kn

[2019-04-10 03:23] peterEycyeh commented on #58
Because I have a video(around 10 second) on initial load. I am not sure if that affect. And Is it possible to set a timeout to force it update(re-calculate) after video end. Thank you!

[2019-04-10 04:12] jscottsmith commented on #58
@peterEycyeh definitely cache related. Can you share a repo or live site with me, then I can probably help out.

[2019-04-10 04:31] jscottsmith commented on #58
Try updating cache after the video meta data loads. [See here](https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/loadedmetadata_event)

The height/width should be know at that point, and cache will need to be updated with those values.

Alternatively, set a width/height on the video or container, so that the parallaxed element isn't dependent on loading assets.

[2019-04-10 06:02] #58 closed

[2019-04-11 13:52] kimmobrunfeldt opened #59 "When scroll position at top, transform doesn't start from 0"
## Expected Behavior

When setting

[code]
and reloading page (scroll position is at the top), I would expect to `.parallax-inner` transform to start from 0px Y-axis transform, like this: `transform: translate3d(0%, 0px, 0px);`

## Actual Behavior

`.parallax-inner` class starts with `transform: translate3d(0%, 112.586px, 0px);`, and the 112.586px isn't the height or width of the icon being transf

[2019-04-11 16:08] jscottsmith commented on #59
@kimmobrunfeldt is this element within the viewport when scroll is at the top? Is there a repo or live link I can look at?

[2019-04-12 10:08] kimmobrunfeldt commented on #59
The element is in viewport when the page is scrolled to top. I'll try to make this a reproducible example and send the link! Currently it happens in the context of our website but I'll separate it out.

[2019-04-12 10:27] kimmobrunfeldt commented on #59
I setup an example here: https://github.com/kimmobrunfeldt/react-scroll-parallax-example, which is live at https://affectionate-lalande-e5a343.netlify.com/

What I expect: (without Parallax added)

![Screenshot 2019-04-12 13 25 30](https://user-images.githubusercontent.com/1232405/56030874-9fa45c00-5d26-11e9-84a2-0698e77f6d65.png)

Relevants part of example code here:

* Parallax: https://github.c

[2019-04-12 22:37] jscottsmith commented on #59
Ok, this is expected.

The offsets are applied based on the position in the viewport, which is determined by the top of the element at the bottom of the view as `0%` (0px of `y=[0px, 100px]`) to the bottom of the element at the top of the view which is `100%` (100px of `y=[0px, 100px]`).

If the element is centered in the view naturally (without parallax offsets), it's 50% through its transition i

[2019-04-12 22:37] #59 closed

[2019-05-06 21:30] JevinSidhu opened #61 "Parallax Elements Jump On Window Resize"
## Trouble With Implementation
* What is the expected behavior of your implementation?
I have a number of images that need to have the parallax effect. It works fine, however, all the Parallax components that have a value for the y offset jump upwards -60px when the window is resized.

* Can you share the repository, live site, or a demo?
[code]

* Are you seeing any errors or warnings?
Nope.

[2019-05-06 21:30] JevinSidhu opened #62 "Parallax Elements Jump On Window Resize"
## Trouble With Implementation
* What is the expected behavior of your implementation?
I have a number of images that need to have the parallax effect. It works fine, however, all the Parallax components that have a value for the y offset jump upwards -60px when the window is resized.

* Can you share a code snippet?
[code]

* Are you seeing any errors or warnings?
Nope.

[2019-05-06 21:32] #61 closed

[2019-05-07 04:31] jscottsmith commented on #62
@JevinSidhu Are you updating the controller when the images load?

https://github.com/jscottsmith/react-scroll-parallax#example-usage-of-context
https://github.com/jscottsmith/react-scroll-parallax#troubleshooting

If you are already doing this, I'll probably need to see the code base or a live site to further help out as it's probably related to styling.

Also, you don't need to call update on re

[2019-05-11 23:32] jscottsmith commented on #62
Closing, but let me know if you are still having issues.

[2019-05-11 23:32] #62 closed

[2019-05-23 16:19] gdm-1718-brundeco commented on #9
Hello! Thanks voor the plugin!
Just experiencing a weird issue.
Yesterday I managed to get the effect working properly, today the parallax effect doesn't do much anymore. I didn't change the code.
Has someone also experienced this?

This is my code

Thanks in advance!

(just tried wrapping the <ParallaxProvider> around my <App> but also no result. And the code snippet below worked perfectly yester

[2019-05-26 00:08] jscottsmith commented on #9
@gdm-1718-brundeco impossible to say without a link to your site or a git repo. This issue is unrelated and old -- open a new issue if you need some support and I can help.

[2019-06-25 20:10] JosephAntony1 commented on #42
This still isn't working for me :(

`render() {
    const layers = [
      {
        image:
          "https://s3-us-west-2.amazonaws.com/s.cdpn.io/105988/banner-background.jpg",
        amount: 0.5
      },
      {
        image:
          "https://s3-us-west-2.amazonaws.com/s.cdpn.io/105988/banner-foreground.png",
        amount: 0.1
      },
      {
        children: <h5>Project SUBTITLE</h5>,

[2019-06-25 20:32] jscottsmith commented on #42
@JosephAntony1 What's not working?

Open a new issue with a live link and/or your git repo and describe the problem  – otherwise I can't help.

[2019-06-25 20:35] JosephAntony1 commented on #42
Understood, I probably won't because I got it working with css, but adding text as a child layer to the banner it wasn't showing up on top of the background, I think it was underneath.

[2019-06-25 23:53] jscottsmith commented on #42
@JosephAntony1 Yep, using layer children applies no style. It's a flexible way to let the user decide how it looks which it seems that you were able to do.

[2019-06-26 00:09] JosephAntony1 commented on #42
So you can't style things inside the layers array even if you wanted to? Thanks for your help and the library btw.

[2019-06-26 04:55] jscottsmith commented on #42
You can style them just like any other DOM element in React.

What I meant by "applies no style" was that `react-scroll-parallax` does not alter the styles of the elements passed as `children` in layers.

So, you could use inline styles:

[code]
or classes from a stylesheet

[code]

[2019-06-30 01:28] leosantacruz opened #63 "It only works if I start scrolling at top of the website"
Hi,
This issue appears in the oficial [DEMO ](https://jscottsmith.github.io/react-scroll-parallax-examples/examples/parallax-example/) and in a new simple project I did myself.

When I start scrolling at the top of the website it works perfectly. But when I start scrolling at the middle of the website and refresh the browser it seems It doesn't work.

It was tested on Chrome 75 and Opera 60

Regar

[2019-07-01 06:30] jscottsmith commented on #63
Ya this is kind of an annoying browser feature. I think we may get an API to disable it in the future via `history.scrollRestoration`. See here for [more info](https://developers.google.com/web/updates/2015/09/history-api-scroll-restoration)

Way around it for now:

Add a listener at a high level in your app for when the page fully loads and update the parallax controller so cached values get set

[2019-07-03 17:37] jscottsmith commented on #63
Let me know if this didn't work.

[2019-07-03 17:37] #63 closed

[2019-07-23 12:44] OPerel opened #65 "Using react-scroll-parallax with GatsbyJS"
Hello and thanks for the package!

I'm trying to use the package in a Gtasby blog (v 2.1.2).
[here is the repo](https://github.com/OPerel/G-blog).
It's not working when I try using `<ParralaxProvider>` in a layout component shared across multiple pages. I undrestand that the parallax element's position is calculated based on the scrolling position on the entry page, so it breaks when navigating be

[2019-07-23 17:55] jscottsmith commented on #65
Happy to help @OPerel

But I pulled the repo and it seems to be working fine as is. Looks like you have the provider in the `layout.js` and when navigating between pages the parallax components still work.

Maybe I'm missing something?

[2019-07-23 19:33] OPerel commented on #65
Hey,

Thanks for the quick response.
Try scrolling to the middle of the homepage, navigate to the about page, and scroll down to see the footer.
That's the only parallax element shared between the two pages.

[2019-07-23 20:56] jscottsmith commented on #65
Ok I understand now.

Two things you can do:

1. Update the controller when the page location changes. This will require creating a component that accesses the controller. Here's a quick sample that will update each time a `location` prop changes:
[code]

2. Move the footer to a page level component so that it is unmounted/mounted with each route change.

Either should work. Let me know if you sti

[2019-07-24 08:04] OPerel commented on #65
So I'm trying to go with your first suggestion because the second one messes up some other layouts I'm trying to achieve.
The thing is it's not working.
`prevProps` and `this.props` don't have a location property.
So I tried passing a location prop manually to the footer from the layout component.
But then `prevProps.location` and `this.props.location` are equal.
Also, my knowledge of react lifecy

[2019-07-24 18:02] jscottsmith commented on #65
@OPerel Sorry should've clarified where the `location` prop will come from.

Gatsby passes a `location` object to `layout.js` -> https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#4-pass-history-location-and-match-props-to-layout

Take this prop and pass it the the `<Footer location={location}>` so that each time it changes the footer will update.

[2019-07-24 19:02] OPerel commented on #65
Hey,
Thanks I'm getting the location object now.
The thing is `componentDidUpdate()` isn't called on page navigation.
I know of `onRouteUpdate()` from gatsby's browser api, but I can't figure how to use it for updating `parallaxController`.

Sorry, i'm kinda new to all this...

[2019-07-25 17:35] jscottsmith commented on #65
@Operel ya you're right, I'm not too familiar with Gatsby and why this may be the case.  I'll try and dig into this a bit more and figure out a solution. Meanwhile you may also want to try moving the `ParallaxProvider` from `layout.js` to within this Gatsby API -> https://www.gatsbyjs.org/docs/browser-apis/#wrapRootElement.

[2019-07-26 08:19] OPerel commented on #65
I moved `ParallaxProvider` to `wrapRootElement` in gatsby-browser.js.
Result is the same...
I'll be waiting for a solution.
Thanks a lot!

[2019-07-26 18:05] jscottsmith commented on #65
@OPerel So the problem stems from Gatsby reseting scroll position to the top when navigating pages. This is a good behavior to have in an app, but the problem is I don't know when this hook run in Gatsby. To fix the parallax controller must be updated *after* this scroll hook. You can see this when logging out the scroll position on mount:

[code]

will result in something like this:

[code]

So,

[2019-07-27 06:55] jscottsmith commented on #65
Opening this back up in case someone knows more about Gatsby and has an answer.

[2019-07-28 07:29] OPerel commented on #65
@jscottsmith I'll try looking into it sometime.
In the meanwhile I limited all parallax elements use to the homepage and used pure CSS to create some effects on other pages.

Thanks a lot for all your help!

[2019-08-02 01:24] benmacdonald commented on #65
@OPerel I'm using this in my gatsby project. I add the provider in the `gatsby-browser.js` file.
It uses the wrapRootElement API to wrap the root element with the ParallexProvider.

For example, my `gatsby-browser.js` looks like this:
`/**
 * Implement Gatsby's Browser APIs in this file.
 *
 * See: https://www.gatsbyjs.org/docs/browser-apis/
 */
import React from "react"
import { ParallaxProvider

[2019-08-15 00:14] lukebennett88 opened #67 "Unable to work out how to update parallaxController using functional components"
## Trouble With Implementation

### Describe the trouble you are having considering the following:

I have a number of images that I am using `react-scroll-parallax` on over a few pages.

On the home page, if I scroll down to the bottom, and then use the website navigation to go to a new page, the parallax image on the next page is position incorrectly.

From reading the documentation on the READM

[2019-08-16 05:44] mrhut10 commented on #67
on your repo is the problem your having on the master branch @lukebennett88 as i'll checkout it and have a play

[2019-08-16 06:04] lukebennett88 commented on #67
Sure is @mrhut10

[2019-08-16 06:31] mrhut10 commented on #67
interesting, i'm getting it work sometimes but not othertimes, i'll look at there code to see if can understand what they are doing. @lukebennett88

[2019-08-16 06:51] mrhut10 commented on #67
ok, i have something that i think we should try.

they state within [documentation](https://github.com/jscottsmith/react-scroll-parallax#parallaxprovider)
that the parallaxprovider should only be used once in whole app wrapping the root component, whereas you are using it within each page. I will read further to see if that alone is making it unpredictable. however we could use one of gatsby's met

[2019-08-16 06:54] lukebennett88 commented on #67
I wasn’t sure if that was an issue or not.
I originally had it in my layout component, but since on the home page, the hero component is above the header, it has sense to do it this way.

My main issue, was that I couldn’t access the `update()` method on parallaxController (there is a parallaxController prop, but it returns null.)

[2019-08-16 18:17] jscottsmith commented on #67
@lukebennett88

Accessing the controller in requires using [React's context API](https://reactjs.org/docs/context.html). I'd recommend reading those docs to familiarize yourself with how context works.

There's a higher order component that will connect to the controller context and pass the controller to your component's props:

https://github.com/jscottsmith/react-scroll-parallax#example-usage-o

[2019-08-16 19:13] mrhut10 commented on #67
@jscottsmith and @lukebennett88 we might need to put a method in the gatsby-browser to catch the route changing event and ask it to update.

also @lukebennett88 i'm about to send you a PR i was hoping you could look at to see if an improvement.

[2019-08-16 20:10] jscottsmith commented on #67
@mrhut10 Ya that sounds good as long as that method has access to the controller. Currently you can only access it through context. Appreciate the help on this.

[2019-08-18 17:10] mrhut10 commented on #67
Ok @jscottsmith currently i've wrapped each page that requires a update in component as below
[code]

which i believe is working waiting feedback from @lukebennett88 to confirm.

I also tried to do this automatically by using a method to gatsby provides to wrap each page in a element automatically within the gatsby-browswer file/api, however haven't had any success in this as of yet.

feedback app

[2019-08-18 19:44] jscottsmith commented on #67
@lukebennett88 Yup makes sense. Strange I had issues with this not working when I was troubleshooting the other Gatsby issue since it's the same idea – update the controller when location changes. 🤷‍♂

[2019-08-23 07:30] jscottsmith commented on #67
See #65

[2019-08-23 07:30] #67 closed

[2019-09-17 20:59] ericnguyen23 opened #68 "Testing Erorr: Cannot read property 'getBoundingClientRect' of null"
I'm running tests with Jest and getting this error when using this library:

`TypeError: Cannot read property 'getBoundingClientRect' of null`

Anyone know why and how I can get it to pass test?

Versions:
Node: v10.15.3
npm: 6.4.1
"react-scroll-parallax": "^2.1.2"

[2019-09-18 01:01] jscottsmith commented on #68
You shouldn't be running tests from this library in your own project. I'm guessing it's a Jest setup issue that for whatever reason is capturing the test files from this dependency.

What's you setup look like? Have a repo?

[2019-09-18 01:11] ilyausorov commented on #63
Can confirm that the above proposal worked, but I had to add an additional `window.scrollBy(0,1);` to force a 1px scroll so that the elements reset to their right place.

[2019-09-18 01:13] jscottsmith commented on #68
Oh, nvm. Tests aren't even shipped in the package. I guess you're doing some local development.

`getBoundingClientRect` is mocked because jsdom doesn't include the api.

So it sounds like the mock isn't being used.

Is there a more detailed error log?

[2019-09-21 00:33] jscottsmith commented on #68
Need more details to help out -- tests are passing on Travis CI so not sure why you would be getting this error.

[2019-09-21 00:33] #68 closed

[2019-10-05 12:10] soongyu opened #77 "ERROR: using TypeScript error, support please"
Currently, I've face an error while using a library called React-Scroll-Parallax. It had no problem with JS but TS kept saying to me like as follows:

[code]

[code]

It seems this library doesn't support the current TS, so how to solve the problem?? I need to use it with TS.

[2019-10-17 22:09] jack-arms commented on #59
I'm curious about this as well -- I think I understand how the element with parallax is in the middle of the page, where you can scroll above and below it, but I'm interested in the use case where an element is near the top of the page, starting with its normal display, and then the parallax effect only happens when you scroll down past it.

For example, see https://codesandbox.io/s/interesting-kn

[2019-10-28 15:16] Kevinnko commented on #65
@OPerel @jscottsmith  Hey guys, I would like to revive this issue. I have a parallax element on index page that works great, but once I navigate to another page, scroll down, and click on link to go back to index, the parallax element offset is based on the previous page scroll. I tried different things, including creating a custom Link component like [in this issue ](https://github.com/gatsbyjs/g

[2019-10-30 07:19] OPerel commented on #65
Hey @Kevinnko,
I didn't really solve anything. As mentioned in my last comment I limited the use react-scroll-parallax library to the homepage or index, and used CSS to supplement it on other pages.
You can check out the result [here](https://gatsby-parallax-blog.netlify.com/). There you'll also find a link to the source code.
Good luck!

[2019-11-04 06:53] jscottsmith commented on #65
@Kevinnko @OPerel Out of curiosity I tried troubleshooting this issue again in a new Gatsby starter and I've been unable to reproduce it. Which is weird because I did see this issue in @OPerel's repo before.

Notably I'm using the latest Gatsby starter and applying the `ParallaxProvider` via the Gatsby `wrapPageElement` api.

You can see how I've integrated the parallax here. [Pull the repo](https

[2019-11-04 12:53] Kevinnko commented on #65
Hi @jscottsmith Unfortunately I can't show you the repo. I didn't use the wrapPageElement api, but I just tried and it seems to be working, together with the ParallaxCache component. Also, thank you for your test repo. I cloned it and I think you have the same problem as I described, here is a little screenshot of what's happening :

![react-scroll-parallax](https://user-images.githubusercontent.c

[2019-11-25 18:32] fncombo commented on #65
Hi @jscottsmith

I noticed that the issue happens when the pages you navigate between are different heights. For example, set index to `300vh` and page 2 to `100vh` - now when you navigate from index to page 2 the parallax on it will break.

I have tried using `useEffect` to call `parallaxController.update()` but that doesn't fix it.

Another strange thing is if you start on index and navigate to

[2019-12-06 00:36] davwheat commented on #65
@fncombo

YOU. UTTER. GOD.

I love you for this workaround! I've spent the best part of a few hours working out whats wrong!

[2019-12-09 09:48] davwheat opened #78 "Improve parallax performance"
## Feature Request

Parallax performance is very poor on low-end devices and phones. This article lays out some great parallax performance tips which could be implemented into this package.

## Proposed Changes

https://medium.com/@dhg/parallax-done-right-82ced812e61c

[2019-12-10 01:30] jscottsmith commented on #78
@davwheat Thanks, appreciate the article.

Most of what is mentioned in this article has already been considered and implemented in this package:

- Only use properties that are cheap for browsers to animate (uses transform: translate3d).
- Use window.requestAnimationFrame (yep)
- Only animates elements in viewport (yep, and caches bounding rects)
- Animate only absolutely positioned elements (up

[2019-12-10 01:30] #78 closed

[2019-12-10 07:47] davwheat commented on #78
Sorry I only checked the source for one thing and saw that wasn't implemented but wouldn't make a big difference anyway.

I'll take a look at the jank reducing section but I have a feeling it could be to do with the fact I'm also transitioning blur and gray-scale at the same time.

[2019-12-10 19:35] jscottsmith commented on #78
Oof ya, those are expensive effects. I'd avoid it.

[2019-12-13 19:36] KyorCode commented on #77
Did you manage to solve this?

[2019-12-23 08:48] hrahimi270 opened #79 "Using with Next.js and gives an error for ParallaxProvieder when using useController()"
## Expected Behavior

Able to use `useController()` in my next.js app.

## Actual Behavior

It throws an error that:

## Steps to Reproduce the Problem

1. I placed `ParallaxProvieder` in my `_app.js` file.
2. I created my parallax component and it's working fine!
3. I created a `ParallaxCache` component just like the example.
4. I put `ParallaxCache` beside my parallax component and it gives me t

[2019-12-30 06:17] jscottsmith commented on #79
@hrahimi270 Thanks for the issue.

I think this because Next js renders on the server and the controller is not available. Check for `typeof window !== 'undefined'` then call the `useController` in `ParallaxCache`.

Let me know if you need further explanation, or share the repo with me.

[2019-12-30 07:15] hrahimi270 commented on #79
@jscottsmith Thanks for the reply.
I will test it to let you know.
But if `context` couldn't be found, then how Parallax component works?

[2019-12-30 18:44] jscottsmith commented on #79
It shouldn't work on the server (just rendering the html to send to the client), but when React hydrates on the client side the Parallax context will be created and should run fine.

[2019-12-30 18:48] jscottsmith commented on #79
To give you a little more context, see the provider which creates the controller and provides it in React context api.

https://github.com/jscottsmith/react-scroll-parallax/blob/master/src/components/ParallaxProvider.js#L12

[2020-01-03 17:35] jscottsmith commented on #79
@hrahimi270 let me know if this doesn't solve your issue.

[2020-01-03 17:35] #79 closed

[2020-01-11 02:10] itenisz opened #81 "feature request: a new prop "style" for the layers in the ParallaxBanner component"
## Feature Request

Describe the feature or behavior you would like to add considering the following:

Greetings!

In the case of **ParallaxBanner** component, there should be a new layer prop to set custom css style for an image. Currently this is is only for the **ParallaxBanner** component which is apply to '**parallax-banner**' div, but that style dosent do anything on the layer div which is '

[2020-01-11 20:18] jscottsmith commented on #81
@itenisz Sounds reasonable!

How about just a generic props object that will get applied to the layer. That would cover style but also any other attribute a user may wish to add.

Would look something like this replacing `...yourLayerStyles` with a React style object

[code]

Does this work for your use case?

[2020-01-11 20:37] itenisz commented on #81
@jscottsmith Sure, if more configurable then even better!

[2020-01-11 20:47] jscottsmith commented on #81
Ok, I'll add this in when I get the chance. Unless you wanna submit a PR?

[2020-01-11 20:52] itenisz commented on #81
No, I can wait. Thanks for the fast reply and for handling this!

[2020-01-12 21:40] jscottsmith commented on #81
@itenisz Published [2.3.0](https://github.com/jscottsmith/react-scroll-parallax/releases/tag/v2.3.0)

Try it out, let me know if there's any issues.

[2020-01-12 21:40] #81 closed

[2020-01-13 01:55] itenisz commented on #81
I tried and working! Very cool things can be made.

I leave here some simple examples:
[code]
[code]
@jscottsmith Thank you very much!

[2020-01-13 02:04] jscottsmith commented on #81
You’re welcome — thanks for opening the issue.

[2020-01-27 23:36] ajsmth commented on #65
The issue is from these lines here:

https://github.com/jscottsmith/react-scroll-parallax/blob/f9f84fc41e436c24774503c6242df66f614ea224/src/components/ParallaxProvider.js#L8-L17

https://github.com/jscottsmith/react-scroll-parallax/blob/f9f84fc41e436c24774503c6242df66f614ea224/src/components/useController.js#L7-L11

You can work around this by accessing the exported context directly, just make sur

[2020-01-31 21:09] AndrisBorbas commented on #65
Could you explain where would you put this piece of code?

[2020-02-03 15:45] ajsmth commented on #65
in your consumer components - for example
[code]

[2020-02-25 15:22] pveen2 commented on #65
@ajsmth  Can you maybe let me know where you put the useEffect?

[2020-02-27 13:34] soares-lu opened #85 "ParallaxBanner left to right"
There any way to use Banner animation left/right instead of top/bottom? I'm using a horizontal scroll and if I can use this banner with X parallax will be awesome!

[2020-02-27 18:57] jscottsmith commented on #85
No, not currently.

You could create your own! The `ParallaxBanner` is just a wrapper around the `Parallax` component that controls some additional style to 'expand' the background image to cover the distance it will move.

Check the source:

https://github.com/jscottsmith/react-scroll-parallax/blob/master/src/components/ParallaxBanner.js

I will look into supporting this in the future but if you

[2020-02-27 19:49] lucasmedeiros commented on #65
@fncombo your solution worked for me, thanks! :heart:

[2020-02-28 12:51] soares-lu commented on #85
Alright, thanks, man! I got it!

[2020-02-28 13:11] soares-lu opened #86 "ScrollAxis change resizing window"
I want to change scrollAxis of <ParallaxProvider /> when resizing the window (using useState). But every time window size changes, this element not re-render again. This is not possible to do?

I want to change parallax animation for mobile devices... Can anyone help me?

[2020-03-02 17:50] jscottsmith commented on #86
Guessing since I need more context, but you can try adding a `key` to the `ParallaxProvider` that changes when you want the axis to change. This should force React to remount the element and setup a new parallax controller.

[2020-03-05 21:47] jscottsmith commented on #86
@soares-lu Did you find a solution?

[2020-03-06 00:39] soares-lu commented on #86
Sorry for the delay with the answer. But I got it!

I put an if in the Provider and it worked. Just like that:

useEffect(() => {
  screenSize.width <= 1024 ? set('vertical') : set('horizontal');
}, [screenSize.width])

if (!orientation) {
  return <div />
} else {
  return (
    <ParallaxProvider scrollAxis={orientation}>
    </ParallaxProvider>
  )
}

[2020-03-06 18:08] #86 closed

[2020-03-11 10:09] qubis741 commented on #65
@pveen2  something like this:
`const ParallaxCache = () => {
    const context = React.useContext(ParallaxContext)
    if (context) {
        const { parallaxController } = useController()

        useLayoutEffect(() => {
            const handler = () => parallaxController.update()
            window.addEventListener('load', handler)
            return () => window.removeEventListener('load', han

[2020-03-20 13:46] Sarah86 commented on #65
Hey guys!
This worked for me:

    const context = React.useContext(ParallaxContext)

    useEffect(() => {
        if (context) {
            const { parallaxController } = useController();

            window.requestAnimationFrame(() => {
                parallaxController.update()
            })
        }
    },[context])

[2020-03-20 14:17] Sarah86 commented on #65
Hey guys, what worked for me:

`const ParallaxImage = ({imgName}) => {
    const context = React.useContext(ParallaxContext)

    const handleOnLoad = () => {
        if (context) {
        const { parallaxController } = useController()
        parallaxController.update()
        }
        return null
    }

    return(
    <Parallax
        y={[-50, 50]}
        tagOuter="div"
        styleInner=

[2020-03-25 09:37] sebinievas commented on #79
@jscottsmith so i'm stepping into this almost 3 months later and i'm experiencing the same issue still. I cannot get a simple example to work for this. I did manage to pull down like an old example from next 4 i believe, from 2018, and that actually worked! But cannot get it to work here. I realize this may be more of a nextjs question, but any more light you can shed would be great.

[2020-03-25 09:42] hrahimi270 commented on #79
@sebinievas I was able to use this package in my project. Even without `useController()` hook.
What is your problem exactly? can you provide some code here?

[2020-03-25 09:51] sebinievas commented on #79
Absolutely, thank you! https://gist.github.com/sebinievas/5f597c5713ef0888a36352964efd90dc

[2020-03-25 10:05] hrahimi270 commented on #79
@sebinievas Thanks.
There is nothing wrong with your `ParallaxProvider`.
But in the `test.js` file, I'm not sure about using `offsetYMin` and `offsetYMax` props.
As I remember and written in documents, you should use like `y={[ -10, 10 ]}`.
For more information, read this section of the document:
https://github.com/jscottsmith/react-scroll-parallax#parallax-props

[2020-03-25 16:05] vasilevach commented on #15
Hey @jscottsmith did you remove the render props functionality? React gives me an error when I try to use it:

[code]

v. 2.3.2

[2020-03-25 16:46] jscottsmith commented on #15
@vasilevach There's no render prop in the current v2. This direction was abandoned because of some performance issues. See the [docs](https://github.com/jscottsmith/react-scroll-parallax#react-scroll-parallax) for current functionality.

[2020-03-25 16:47] vasilevach commented on #15
Oh, that's a shame :) Thanks for the answer! I will think of an alternative :)

[2020-03-25 19:43] sebinievas commented on #79
Thank you! I think this is working. I created a brand new project just to
test this out, and it seems to be working! I must have pulled an OLD
example? Sigh... glad its working!

On Wed, Mar 25, 2020 at 3:06 AM Hossein Rahimi <notifications@github.com>
wrote:

[2020-04-08 17:25] axeen opened #88 "parallaxController.update needs to be called twice to work"
## Expected Behavior

I should only have to run parallaxController.update() once

## Actual Behavior

After loading images, the cached position of the parallax element is wrong, so parallaxController.update needs to be called on load. Calling it once doesn't do anything though, running it twice results in the expected behavior. I tried putting it in a setTimeout instead of listening to load, and i

[2020-04-08 17:37] axeen commented on #88
Hmm, it seems what I described only happens in the codesandbox example if the console (actual browser console) is open. On my local project, having the console open doesn't seem to matter though.

[2020-04-14 04:55] kmjennison opened #89 "Feature request: other transforms based on scroll progress"
## Feature Request

I'm curious if this library could allow for arbitrary transforms to make the parallax behavior even more flexible. I was looking for the ability to change the size of an element on scroll: to zoom in as the element moved into view. As far as I could tell, it's not currently possible to change anything other than the x-y position of the element.

If the `<Parallax />` component

[2020-04-23 17:33] aktn commented on #85
For anyone counter like this in the future, this might save your time ;)
`
const containerStyle = {
  position: "relative",
  overflow: "hidden",
  width: "100%",
};

const ScrollParallax = () => {
  return (
    <div style={{ ...containerStyle, height: "500px" }}>
      <Parallax x={[0, -30]}>
        <img
          style={{
            backgroundPosition: "center",
            backgroundSize: "c

[2020-04-26 21:02] helloblonde opened #90 "Safari mobile jitter"
Hello, thanks for the great component! Having a small issue with a jitter on scroll when testing on my iPhone.

## Expected Behavior

Smooth horizontal transform on scroll

## Actual Behavior

I'm seeing a jump on scroll on iPhone Xs Max IOS 13.3.1

## Steps to Reproduce the Problem

<Parallax className="paralax-section" x={[20, -20]}>
                <span>Lorem Ipsum</span>
</Parallax>

## Envir

[2020-04-26 21:03] #90 closed

[2020-04-26 21:05] jesseaborden opened #91 "Safari mobile jitter"
Hello, thanks for the great component! Having a small issue with a jitter on scroll when testing on my iPhone.

## Expected Behavior

Smooth horizontal transform on scroll

## Actual Behavior

I'm seeing a jump on scroll on iPhone Xs Max IOS 13.3.1

## Steps to Reproduce the Problem

<Parallax className="paralax-section" x={[20, -20]}>
                <span>Lorem Ipsum</span>
</Parallax>

## Envir

[2020-04-27 21:38] jscottsmith commented on #91
Not sure how I can help you with that. Can you provide a a live link? Small chance it could be a configuration issue, but I doubt it.

I also don't recommend using these types of scroll effects on mobile -- they are almost always problematic. I imagine horizontal scrolling is even worse since its not normal and browsers don't optimize for it.

I would suggest disabling scroll effects on mobile dev

[2020-05-31 01:19] newerton commented on #77
Solution?

[2020-06-03 04:04] jobnoam opened #93 "Any option to use the code without React?"
**Feature**
Hi,

We don't use React in our app.
Can we still use this code or there is any something similar in simple JS?

Thanks

[2020-06-04 05:03] jscottsmith commented on #77
Published fix in [`2.3.3` ](https://github.com/jscottsmith/react-scroll-parallax/releases/tag/v2.3.3)

[2020-06-04 05:04] #77 closed

[2020-06-04 05:10] jscottsmith commented on #93
Sorry, this is meant for React only – but there's lots of other options that are not dependent on React. How about this one https://basicscroll.electerious.com/

[2020-06-04 05:10] #93 closed

[2020-06-04 05:10] #91 closed

[2020-06-11 09:30] rubensuet-mms opened #95 "Support Fast refresh from NextJs"
## An error is thrown when fast refresh from NextJs 9.4

From the latest major upgrade from NextJs, now there's the option of the fast refresh. A more solid step for a hot-reload when you are coding. This fast refresh leads into an error every time you apply a change, because of a nonspecified listener when removing the scroll listener.

## Actual Behavior

See attached picture for a description
<

[2020-06-11 09:39] rubensuet-mms commented on #95
Sorry, I just realized it was an event listener when I was trying some extra functionalities. It has nothing to do with the library.  Closing this issue as it has nothing to do with react-scroll-parallax

[2020-06-11 09:39] #95 closed

[2020-06-14 08:27] JohnyTheCarrot opened #96 "[TypeScript] I don't really understand how I implement this."
## Trouble With Implementation

Hi everyone, I'm so sorry if I missed something obvious, but I can't seem to figure out how to implement this library, and it's just been an overall headache to figure out. I've spent quite a while looking at the docs and example code but can't seem to get a working version. Help would be greatly appreciated! Again, sorry if I had missed something somewhere.

[image

[2020-06-15 17:44] jscottsmith commented on #96
[code]
Guessing by these style that this element is the scrolling container.

By default a normal setup requires that the body element scroll. If you want a different element to be the the scroll container you need to set it in the `ParallaxProvider`. [See scrollContainer prop](https://github.com/jscottsmith/react-scroll-parallax#parallaxprovider-props).

[2020-06-15 18:02] JohnyTheCarrot commented on #96
I'm sorry but how do I get the element of a component?

[2020-06-15 19:28] JohnyTheCarrot commented on #96
Figured it out, thanks!

[2020-06-15 19:28] #96 closed

[2020-07-17 14:45] power-f-GOD commented on #96
@jscottsmith Documentation for this project is really poor. Can you update it to be more explicit with more straightforward and explanatory examples. Thank you.

[2020-08-11 16:34] josefleventon opened #101 "ParallaxBanner minimum height"
## Giving ParallaxBanner a minimum height

* I'd like to be able to keep the ParallaxBanner at a certain minimum height when scrolling.
* Example: My banner is 65vh high, and the more I scroll the more it retracts up. I'd like it to stop at say 30vh and become fixed, keeping the image up there but having the content below scrollable.

Is there any way I could implement this?

[2020-08-11 16:58] jscottsmith commented on #101
Sorry, not with this package, no. This package was meant for applying effects to elements that stay in the document flow.

It sounds like you want to transition an element from relative to fixed/sticky while changing the height of the banner. You may need to implement something custom for that because I don't know any out of the box solutions.

[2020-08-11 16:58] #101 closed

[2020-09-09 13:07] LinusGeffarth commented on #88
I too have this issue when using in combination with `ParallaxBanner`. Can't fix it with double-update call, though, unfortunately.

[2020-09-26 10:08] LukasV commented on #65
Am I wrong in thinking that you cannot use React hooks conditionally? "Don’t call Hooks inside loops, conditions, or nested functions." - https://reactjs.org/docs/hooks-rules.html

The only work around which seems to be working for me at the minute is commenting out the thrown error in node_modules/react-scroll-parallax/cjs/components/useController.js. In this case my build goes through just fine

[2020-09-27 11:20] Gurenax commented on #88
My workaround is to call `parallaxController.update()` after the image has loaded, but also calling it on `useEffect` before that. The reason is that it will not give out the correct value for CSS transform if the image has not yet finished loading.

[code]

[2020-10-28 20:05] joserenev opened #104 "Inner Layer Image filter"
## Trouble With Implementation

Describe the trouble you are having considering the following:

* What is the expected behavior of your implementation?
 I am trying to add image filters to the inner layer only but as I add them in the style prop for ParallaxBanner it applies it to whatever children I pass inside the component for example text. I would like to know how to apply that to the inner la

[2020-10-28 23:29] jscottsmith commented on #104
@joserenev You could probably omit the `layer.image` and instead use `layer.children` to also recreate the image, so that text and image are siblings and the text will not inherit the css filter.

Example:

[code]

[2020-10-29 00:13] joserenev commented on #104
Great it worked. Probably it would be good to see more examples in the README for the other props as they might cause confusion in implementation. Thanks!

[2020-10-29 16:01] #104 closed

[2020-11-05 11:26] EvilBook opened #105 "Can't click child button in <ParallaxBanner>"
Can't click on children inside the ParallaxBannertags.
eg. >ParallaxBanner< >a href='whatever.com'< Click me >/a< >/ParallaxBanner<
can't click the link child.
Can you help me?

disregard the inverted arrows.

[2020-11-19 06:22] jscottsmith commented on #105
Sorry, I need more information to diagnose the issue. But it sounds like some styling is interfering with the pointer events on the element. Send me a live link to your project, or a repo and I can help you further. Closing this until then.

[2020-11-19 06:22] #105 closed

[2020-12-22 10:19] dowrow commented on #79
How can I make the useController() hook work with Next.JS if it's server-side generated?

[2021-02-03 14:49] pcdependency opened #109 "What's not described in documentation."
**SMALLER QUESTIONS:**

What are the left and right or first and second values of the x and y array props for Parallax stand for?

**BIGGEST QUESTIONS:**

What "Element" does the Providers scrollContainer prop take? A ref or a className of your overflow container?

Does this work with redux or only with contextAPI, there are many libraries that only work with a specific State tool.

If your scroll

[2021-02-04 03:39] pcdependency opened #110 "ParallaxBanner with scrollContainer only works with ref in state"
ParallaxBanner with a scrollContainer only works when you set the ref.current to the state and then pass the state variable to the scrollContainer prop.

Here an example: https://codesandbox.io/s/spring-butterfly-e5006?file=/src/App.js

[2021-02-05 02:20] pcdependency opened #111 "Unusable mobile performance"
## Expected Behavior

Framerate higher than low 10s or 5s

Describe what should be happening.

1) First, expanded props on the ParallaxBanner only works on 1 layer.

2) Mobile performance with this library is probably the worst I've seen out of all the other parallax libraries. If you are running anything other than a few small images and some text, the mobile performance becomes unusable.

## Act

[2021-02-05 05:12] jscottsmith commented on #111
bummer, i would suggest you read this: https://github.com/jscottsmith/react-scroll-parallax#psa

[2021-02-05 05:12] #111 closed

[2021-02-05 05:15] jscottsmith commented on #110
take a look at this, it may help: https://github.com/jscottsmith/react-scroll-parallax/blob/develop/stories/ScrollContainer.js

[2021-02-05 05:15] #110 closed

[2021-02-05 05:19] jscottsmith commented on #109
First value is the start offset as the element enters the view, second is ending offset as the element leaves the view.

HTML Element

Works with the context api that is shipped with React.

Use a component as the scroll container, something like https://github.com/jscottsmith/react-scroll-parallax/blob/develop/stories/ScrollContainer.js

[2021-02-05 05:19] #109 closed

[2021-02-22 04:34] AurelienDud commented on #96
Maybe can i try to explain more accurately what could cause some issues.

There is a documentation. This is already good and so this is not poor. But maybe a few more information could be provided. By example what mean the two values in x and y Parallax element properties. By reasoning i guessed what that means and by looking into the issues of the project i got confirmation. A simple addition in

[2021-02-22 08:15] jscottsmith commented on #96
@AurelienDud thanks for the thoughtful feedback -- I think you're right that the main `x` and `y` API can be explained a bit better. It felt easily inferred to me how the props work but that's probably because I built it to work that way. 😆

As for the demos, I find the [storybook](https://react-scroll-parallax-next.surge.sh/?path=/story/parallax--vertical-with-y-offsets) to be the best "example"

[2021-03-11 09:27] matthewkwong2 commented on #79
Perhaps I missed it, but I think it would be a good idea if you provide the `ParallaxCache` component out of the box. Here is my version of the component. Basically, it is the one mentioned in the doc with the addition of monitoring resize.

Also, would it be a good idea to use `useEffect` instead?

[code]

[2021-03-25 16:41] Mladja89 opened #113 "Feature request: Disable when aligned/reaches scroll point"
## Feature Request

Can we have a feature for parallax effect to be disabled once multiple elements are aligned or when reaches certain point in scrolling?

[2021-04-27 15:17] evengene opened #116 "Update for React v.17"
Hello,
I'm experiencing issues with this plugin, it seems that it doesn't support newer versions of React.
I'm using **Gatsby v.3.3.1** and **React v.17.0.1**
Could you please help me with that?
Thank you

[2021-04-28 06:50] jscottsmith commented on #116
Updated the peer dependency to include React 17 and published [`v2.4.0`](https://github.com/jscottsmith/react-scroll-parallax/tree/v2.4.0). Let me know if this doesn't fix the issue.

[2021-04-28 06:50] #116 closed

[2021-05-17 09:20] goodluck19970821 commented on #15
Hi, @ jscottsmith.
I am very sad. I wanted to use opacity control with vertical and horizontal control simultaneously.

[2021-05-18 02:59] jscottsmith commented on #15
@goodluck19970821 Apologies... If I ever get some more free time I'd love to add support for this type of feature.

[2021-05-31 01:04] chenchenalex commented on #89
@jscottsmith  just to follow up, what is the progress for this feature enhancement? thanks!

[2021-06-03 07:17] rtrvrtg commented on #113
Or possibly allow for multiple x or y properties per `<Parallax>` element, so you can do some sort of easing for the parallax effect when you reach particular scroll points.

[2021-06-11 16:18] andrii-sirko commented on #89
Hi, @jscottsmith!
I have created a PR for implementing this feature: https://github.com/jscottsmith/react-scroll-parallax/pull/117

Let me know if can help more with it.

[2021-08-23 10:59] kimmobrunfeldt opened #119 "Parallax elements do not react to scroll"
I did everything according to the instructions: configure <ParallaxProvider>, tried all troubleshooting tips such as calling `.update()` after image load, or after page load or resize.

[2021-08-23 11:01] kimmobrunfeldt commented on #119
The issue for me was that `scrollContainer` defaults to `<body>` but my `div#react-root` element had `overflow-x: hidden` attribute set, which caused the browser not to send any scroll events to react-scroll-parallax library.

The fix was to set `scrollContainer={document.querySelector('#react-root')}` instead of the default `<body>` element.

I opened the issue just if someone (me?) tries to trou

[2021-08-23 11:01] #119 closed

[2021-09-06 21:44] brunoreis commented on #113
I think a map of keyframes would aggregate all those scenarios:
[code]

[2021-11-01 22:56] J0NNYZER0 commented on #81
This feature actually does not seem to work. I have this piece of code which renders the images just fine but no style override applied.

[code]

[2021-11-11 13:20] nukec opened #121 "[Support] Examples are too complex"
There should be simple examples with divs on how to move the divs up and left. Storybook has good examples, but source code is again too complex. I suggest you do example per component, with separation of concerns and do simple hardcoded examples so it can be understood quickly. at the moment it's very complex to understand how different values work.

[2021-11-17 09:29] bastienlm opened #122 "ParallaxBanner > When scroll position at top, transform doesn't start from 0"
## Trouble With Implementation

Describe the trouble you are having considering the following:

Hello,
First, thanks for your work.

I've the same issue explained here https://github.com/jscottsmith/react-scroll-parallax/issues/59 but with the `<ParallaxBanner />` component.

![image](https://user-images.githubusercontent.com/13004368/142173459-ad96dac1-6414-48c8-9e81-aae7a004e93e.png)

how you ca

[2021-11-22 03:53] jscottsmith commented on #122
@bastienlm Ya this is by design. I understand why it may seem like it should start at zero, but let me try and explain why this behaves this way.

Consider when the transforms start or the beginning, which is when the top of the element enters the bottom of the view. Then consider the end which is when the bottom of the element leaves the top of the view.

Now in your case, I'm guessing this banne

[2021-11-22 03:53] #122 closed

[2021-11-22 03:56] jscottsmith commented on #121
Thanks for the input, I agree. Hoping to get some work done clarifying common issues soon. Cheers.

[2021-11-22 03:56] #121 closed

[2021-11-23 20:35] jscottsmith opened #123 "V3"
# ⚠️ **V3 is out!** ⚠️

[code]

If you encounter issues or bugs throw a comment in this thread.

## [V3](https://github.com/jscottsmith/react-scroll-parallax/tree/v3)

This is to address some long standing enhancement requests and to improve/modernize the code base so that I and others are more willing to contribute once again.

**Documentation and demos (WIP):**

1. [V3 Docs](https://react-scroll

[2021-12-09 10:25] genesst opened #124 "Position absolute and overlapping div elements while scrolling"
## Trouble With Implementation

Describe the trouble you are having considering the following:
I can't seem to find a way to get parallax working in the example below. I'd like to use multiple divs that overlapping each other as they are all `position: absolute` and get them to move while scrolling (each would contain an image). When `Box` component has no CSS property `position: absolute` it work

[2021-12-09 23:20] jscottsmith commented on #124
I'm not sure I understand what the end result should look like. Can you share how they should be positioned when "overlapping'? Drawing or demo?

Position absolute removes the element from the document flow, so if the child of a `<Parallax />`  element is absolute, there may be no height/width for the element to base the translation on.

Send me the intended end result and I can attempt to mock it

[2021-12-09 23:29] genesst commented on #124
Thanks for your reply. So the rough idea of what I'd like to achieve is on the sketch below. A number of divs would move out of the viewport on scroll and most of them overlap on top of each other

![New Project](https://user-images.githubusercontent.com/13213650/145491789-c6d76201-0657-4d6e-aeb3-43ff704c45d4.png)

[2021-12-10 00:02] jscottsmith commented on #124
Ok interesting -- It will be a little tricky to get them positioned perfectly** but if you style the `<Parallax>` element for positioning instead of the child box, you can probably get close. See this:

https://codesandbox.io/s/long-morning-i4w3d?file=/src/App.js

**because the elements are starting within the view they will be midway through their transition between the given values `[0, 100]`, s

[2021-12-10 00:12] genesst commented on #124
Thanks heaps! Exactly what I need. Also thanks for pointing at #122, was wondering that too.

[2021-12-10 00:13] #124 closed

[2021-12-15 05:32] yang commented on #123
Just wanted to say these are awesome changes! It would be super fun to demo the new alpha in Plasmic (the old version was in use on https://code-components.plasmic.site/).

[2021-12-15 17:31] jscottsmith commented on #123
@yang Oh wow, thanks, that's good motivation! An updated feature would be nice -- may just want to wait until it's at least `beta` just in case.

Simplifying the API and better docs is the key to making this more accessible. If you have ideas LMK, otherwise just look for updates here as I go.

[2021-12-16 16:22] petr-hajek commented on #79
For me the only solution how to use it with Next.js with page navigation was to include this component on the client side. Strange thing is that it needs the setTimeout to work even if it's 0ms. Hope it helps someone.

[code]

[2021-12-16 19:07] jscottsmith commented on #79
@petr-hajek apologies for this, there was a bug that I discovered recently when refactoring this to a new version #123. I just published a patch that should fix these hacky `setTimeouts` solutions when calling `parallaxController.update()`.

Try the patch here `react-scroll-parallax@2.4.1` and LMK if it's still a problem. Thanks!

[2021-12-17 08:59] petr-hajek commented on #79
@jscottsmith Fixed, thanks, now it works out of the box for my Next.js app.

[2021-12-18 00:09] jscottsmith commented on #65
There was a bug that I discovered recently when refactoring this to a new version #123. I just published a patch that should fix these hacky `setTimeout` or `requestAnimationFrame`  solutions when calling `parallaxController.update()`.

Try the patch here `react-scroll-parallax@2.4.1` and LMK if anyone still encounters issues.

[2021-12-18 00:09] #65 closed

[2021-12-18 00:13] #88 closed

[2021-12-18 00:13] #44 closed

[2021-12-18 00:14] #85 closed

[2021-12-18 00:14] jscottsmith commented on #85
Planning to support in the new version #123

[2021-12-18 00:15] jscottsmith commented on #113
Planning to support something like this in the new version #123

[2021-12-18 00:15] #113 closed

[2021-12-18 00:15] jscottsmith commented on #89
Will support this in the new version #123

[2021-12-18 00:15] #89 closed

[2021-12-21 11:41] sirshurak opened #125 "Could not find `react-scroll-parallax` context value."
How to properly handle provider with SSR ? I'm having this throwing error.

https://github.com/jscottsmith/react-scroll-parallax/blob/df1b1cc96d4f6a8041299d1015674e03270fc989/src/components/useController.js#L9

I've verified that when `window` is not defined the context is returned `null`

https://github.com/jscottsmith/react-scroll-parallax/blob/df1b1cc96d4f6a8041299d1015674e03270fc989/src/compon

[2021-12-21 17:24] jscottsmith commented on #125
@sirshurak ya it should not throw in this case. I published a patch `react-scroll-parallax@2.4.2`. Please try this version and see if the error is resolved. Thanks!

[2021-12-23 17:42] #125 closed

[2022-01-01 22:18] sohcfst commented on #123
just wanted to chime in and say thanks for your work with this!!

[2022-01-02 00:49] jscottsmith commented on #123
@sohcfst cheers, thanks!

[2022-02-04 09:36] ngocducdim opened #131 "Can set transition of the component depend on the progress in horizontally scroll?"
- Hi I have question, when scrolling horizontally we will have the progress value right? So let said at the progress value 0.1 the `<Parallax />` component will have property `translateX={1}` and at the progress value 0.5 the `<Parallax />` component will have property `translateX={5}`, can we do that? I want implement the animation like below:
![ezgif-5-4fb0fe82fb](https://user-images.githubuserc

[2022-02-04 20:23] jscottsmith commented on #131
@ngocducdim based on the visual, it may be possible. Not quite how you describe -- you must provide start end values for `translateX` like `translateX={['-100%, '0%']}` that will correspond to the progress `0 - 1`. Since these elements are fixed in view and don't naturally scroll you would have to use `startScroll` and `endScroll` [config values](https://react-scroll-parallax.damnthat.tv/docs/usag

[2022-02-04 22:37] jscottsmith commented on #131
@ngocducdim I put together a [CodeSandbox](https://codesandbox.io/s/react-scroll-parallax-fixed-horizontal-scroll-bm4rx)

This is probably the closest you can get. The main limitation I see is that there's no ability to set key points along the animation -- only a start and end value. If that works for you then you'll be ok, but if you need more advanced timeline/keyframes then I'd suggest looking

[2022-02-05 07:34] pegasusnotunicorn opened #132 "Since there are no keyframes, is there a way to remove a finished animation and attach a new one?"
I would love to use something like keyframes to make complex animations but it doesn't seem like this library supports that.

Is there a way that maybe we can remove the Parallax animation once its completed and attach a new one? Maybe like an event handler or something.

Thank you!

[2022-02-05 19:49] jscottsmith commented on #132
@pegasusnotunicorn it doesn't yet. There seems to be some interest in such a feature so I may support it in the future.

Currently the least hacky way I can think of achieving such effects is mocked up in this [CodeSandbox](https://codesandbox.io/s/react-scroll-parallax-chaining-effects-4h7dh?file=/src/ChainedEffects.tsx). Basically I'm using to effects with different animations that happen in seq

[2022-02-05 20:01] pegasusnotunicorn commented on #132
Yeah I was thinking about this some more after posting it. I figured it would have to use separate start/end scroll values to accomplish.

Well for my use-case, I want the element to animate, then maybe stick with the scroll (position fixed) for a bit, then animate out of view in a different way.

Might have to play around with using the callbacks and merge the animations and pause it at halfway o

[2022-02-05 21:04] jscottsmith commented on #132
Ya that could work. If you end up making it work post the code in case anyone else tries the same thing. You could also just use [ScrollTrigger by GSAP] - might seem overkill but probably more suited for something like this.

I'll keep thinking on how to adapt the API for keyframes.

[2022-02-05 23:04] pegasusnotunicorn commented on #132
I thought onExit was only called when the element left the viewport but it seems to also be called when you first load a page and any elements with this callback are not in view. So it's called even if you never entered an element before.

Might need to update the docs on this.

Found this by trying to stagger parallax animations with separate start/end scroll values

[2022-02-06 04:04] jscottsmith commented on #132
@pegasusnotunicorn thats a bug, you can track a fix here: https://github.com/jscottsmith/parallax-controller/issues/2

Thanks for catching it.

[2022-02-06 20:45] jscottsmith commented on #132
This should be fixed now, patch published in v3.0.3

[2022-02-07 00:56] ngocducdim commented on #131
Hi sorry for late reply, your demo is nice really helpful for the basic one, I will take a look the GSAP ScrollTrigger, thank you

[2022-02-07 00:56] #131 closed

[2022-02-07 05:24] pegasusnotunicorn commented on #132
So I'm trying to do multiple animations with separate start/end scrolls like in your CodeSandbox but it seems to bug out when scrolling really fast. It even bugs out for your CodeSandbox. Try scrolling like super fast and you'll see that the rectangle for a split second goes somewhere it shouldn't according to the animation.

You can also see it live on my website here - sharehomethegame.com. If I

[2022-02-07 05:25] pegasusnotunicorn commented on #132
It's so strange that even just something like changing tabs causes this issue

[2022-02-07 19:35] pegasusnotunicorn commented on #132
I'm testing on Chrome Version 98.0.4758.80 (Official Build) (x86_64)

Here is a GIF of what I am seeing on your CodeSandbox. See how around the 8s mark the rectangle appears a bit to the right when scrolling very fast. Even though it will never be there in the entire animation.

https://user-images.githubusercontent.com/58995656/152858967-8079a820-c2ad-4b58-bb5f-aada34a3a81d.mov

[2022-02-08 11:07] Barbara-Monzu opened #133 "How do you stop the effect when the element is in the middle of the view"
I need to stop scrolling when an image lands inside a card, but endScroll doesn't work for me. Any suggestion?
I don't know how to stop it.

Thanks!

[code]

[2022-02-08 17:58] jscottsmith commented on #133
Happy to help but I'll need more info. Not sure what you're trying to achieve based on the description.

[2022-02-09 10:08] Barbara-Monzu commented on #133
Mi code is the next (forgot the perspective).
I need the image stop in the card.

Thanks!!! :D

[code]
https://user-images.githubusercontent.com/91007055/153174887-79d80539-7cfb-4565-b572-f572d73d5f64.mov

[2022-02-09 17:50] roberto-azumo commented on #133
Hi! I think I'm also facing the same issue, what I'm trying to do, is end the animation faster, so that for example where it would be at 50% progress it stops the effect. I thought that using endScroll would help with this, I tried using `endScroll: 50` and `endScroll: 0.5` in the useParallax hook

[2022-02-09 17:52] jscottsmith commented on #133
Ok few things:

1. `speed` is an abstraction of `translateY` (or `translateX` if scrolling is horizontal) so don't use both. See [how it works: info](https://react-scroll-parallax.damnthat.tv/docs/examples/how-it-works)
2. `endScroll` by itself will not stop the effect. You must provide a `startScroll` AND `endScroll` which represent `scrollTop` values to disable the typical _relative to the viewp

[2022-02-10 04:32] #123 closed

[2022-02-10 22:32] #132 closed

[2022-02-11 18:58] jscottsmith opened #134 "docs: add examples for `startScroll` and `endScroll` as well as `targetElement`"
There are no examples in the docs for these configurations yet.

In the meantime, see storybook for examples:

- See the [`startScroll` and `endScroll` storybook for a demo](https://react-scroll-parallax-v3.surge.sh/?path=/story/components-parallax-vertical-scroll--with-defined-start-end-scroll)
- See the [`targetElement` storybook for a demo](https://react-scroll-parallax-v3.surge.sh/?path=/story

[2022-02-11 18:59] jscottsmith commented on #133
Comment here if you still need help. See #134

[2022-02-11 18:59] #133 closed

[2022-02-15 08:38] Barbara-Monzu commented on #133
Thanks!!!! I will try too :D

[2022-02-17 14:27] Barbara-Monzu commented on #133
thank you! I got it,
I leave the code here in case it helps someone.
There are more components above the parallax, that's why the startScroll is so high

[code]

[2022-02-26 08:49] princejoogie opened #137 "Failed to create the resize observer in the ParallaxContoller"
## Expected Behavior

no warnings when running tests with jest

## Actual Behavior

bunch of console.warn are printed when running tests

[code]

![image](https://user-images.githubusercontent.com/47204120/155836659-6e6b3730-dde5-44f3-a9f8-c8c543615296.png)

## Steps to Reproduce the Problem

1. add `ParallaxProvider` in `_app.tsx` then add a `Parallax` component to one of the elements.
2. create

[2022-02-27 03:00] patrickliang opened #138 "[Support] - Using ParallaxBanner"
Hi,

I am experimenting with using ParallaxBanner to achieve similar effect like below:

https://codesandbox.io/s/vibrant-joana-8imhis

The example above is using https://www.npmjs.com/package/react-parallax. I am trying to see if it is possible to achieve it using this library, as I really like the many other parallax features this library has.

I tried using ParallaxBanner which kind of works bu

[2022-02-27 21:38] jscottsmith commented on #137
It's a warning, so you can just ignore it but if you want to fix it add just a Resize Observer mock to your Jest . This API is not available in Jest DOM by default. See this for an example: https://github.com/jscottsmith/parallax-controller/blob/master/src/setupTests.ts

[2022-02-27 21:38] #137 closed

[2022-02-27 21:55] jscottsmith commented on #138
Yes that's possible, just use a layer with an image and speed less than zero.

[code]

Here's a demo: https://codesandbox.io/s/react-scroll-parallax-backgrounds-q3klcf?file=/src/App.tsx

Where did you get stuck? I wan't to make sure this is straightforward in the documentation as this is a pretty simple setup.

[2022-02-27 21:55] #138 closed

[2022-02-28 06:41] patrickliang commented on #138
Thanks for the quick response and the demo, it is exactly what I am looking for!

So that part that got me stuck or confused, as it turned out, was the correct value to set for the speed prop. For some reason, it never occurred to me to set a value less than -20 (yeah, I don't know why).

[2022-02-28 16:26] jscottsmith commented on #138
No worries!  If there's a place where this can be clarified in the docs please let me know.

[2022-03-01 16:25] rahuuzz opened #139 "CSS transforms handled by react-scroll-parallax are getting reset."
## Actual Behavior (bug)
state update is causing parallax to reset to initial after reaching endScroll.
An example for demo code [can be found here](https://codesandbox.io/s/gracious-galois-p4ozcp)

## Expected Behavior
Expecting to prevent resetting the transformations done by react-scroll-parallax after endScroll position.

## Steps to Reproduce the Problem

1. Use the above code sandbox link. (

[2022-03-01 18:33] jscottsmith commented on #139
Thanks for the easy reproduction -- I'll work on a fix this week.

[2022-03-03 05:29] jscottsmith commented on #139
Fix published in [v3.0.4](https://github.com/jscottsmith/react-scroll-parallax/releases/tag/v3.0.4). Let me know if there's any other issue.

[2022-03-03 05:29] #139 closed

[2022-03-03 05:47] rahuuzz commented on #139
Tried updating to 3.0.4 still havent solved the issue. [preview](https://p4ozcp.sse.codesandbox.io/)

[2022-03-03 06:16] jscottsmith commented on #139
ahh, remove the lockfile, the issue was in the dependency and it's probably still using the old version. https://codesandbox.io/s/vigilant-hofstadter-rhthqo?file=/package.json

[2022-03-06 14:32] dob9601 opened #140 "Initial position incorrect on small displays"
## Trouble With Implementation

When viewing parallax on smaller displays (such as mobile phones) the initial positions of the parallax layers mean that most of them are already off-screen, viewable here: https://gifted-elion-c1f0f2.netlify.app/

Parallax component:
[code]

[2022-03-07 03:06] jscottsmith commented on #140
The reason this looks different on mobile screens is because `speed` is only an abstraction for setting `translateY` and each increment of speed by 1 will increase the translate effect by 10px -- but pixels aren't responsive and the value will remain consistent not matter the width of the banner.

Instead try using `translateY` directly with values as `%`, for example `translateY: [-50%, 50%]`, th

[2022-03-07 15:37] dob9601 commented on #140
Thank you! Managed to get it working based off of this information.
I've linked the repository in question to assist any future travellers that head this way: https://github.com/dob9601/dob9601.github.io/ (https://danielobr.ie/) and below is the final code:
[code]

[2022-03-08 05:34] #140 closed

[2022-03-08 09:27] dob9601 commented on #140
Go for it!

[2022-03-08 18:17] jscottsmith commented on #140
absolutely, if I end up using it I will attribute and tag you 🙇🏻

[2022-03-09 03:38] tonirpk opened #141 "Multiple scrolling axis in one element"
Hello,
I've an element with multiple divs inside, some of them work vertically but other not.
How is it possible to add a specific scrolling direction to  one div instead of the whole element?

[2022-03-09 06:18] jscottsmith commented on #141
You'll need to wrap each `div` with it own `ParallaxProvider` and set the `scrollAxis` accordingly.

[Here's a demo](https://28o8f7.codesandbox.io/) with multiple scrolling containers -- one vertical, one horizontal.

See the App for how this is achieved with multiple providers:

https://codesandbox.io/s/react-scroll-parallax-multiple-scroll-containers-28o8f7?file=/src/App.tsx

Let me know if you

[2022-03-09 06:18] #141 closed

[2022-03-09 07:49] tonirpk commented on #141
Thanks for your answer, actually yeah, I need more help.  I think I asked the question in wrong way, sorry.
What I meant is the "speed" depends on the scroll direction of whole page, but what if one element is moving horizontally, how do increase the speed of that div in a horizontal way.

[2022-03-09 17:58] jscottsmith commented on #141
Ok, not sure I fully understand the problem but maybe this will help.

The `speed` prop is only an abstraction for setting `translateY` or `translateX` based on the scroll axis. Each increment of `speed` by one will increase the translate effect by 10px.

So for example: With a vertical scroll axis, speed: 10 is equivalent to `translateY: ['10px', '-10px']` and speed: -10 is equivalent to `transla

[2022-03-09 21:12] tonirpk commented on #141
So I've this code `<div className="images_wrapper">
        <Parallax
          translateX={[-20, 20]}
          className="bg8 parallax_image"

        <Parallax
          translateX={[150, -90]}
          translateY={[-40, 40]}
          className="bg7 parallax_image"

        <Parallax className="bg5 parallax_image"></Parallax>
        <Parallax
          translateX={[150, -90]}
          trans

[2022-03-09 23:10] jscottsmith commented on #141
I really need a better description of what you are trying to achieve to be of any help. Is this code hosted somewhere? A CodeSandbox would be very helpful...

If you want something to appear to move faster in comparison to something else, you can increase size of the translations relative to the other.

[2022-03-10 00:32] tonirpk commented on #141
Yeah, you're completely right! To change the speed all I had to do is to increase size of the translations relative to the other.
Now I'm hoping to see more explanation about startScroll, endScroll and targetElement.
Thanks a lot.

[2022-03-10 00:43] jscottsmith commented on #141
Glad it worked out. Please share if you have ideas on how I can improve the docs so other user don't get stuck as you did.

[2022-03-11 01:25] tonirpk commented on #141
Honestly your code is awesome and I appreciate all the afford and time you put on it, so thank you.
However It would be nicer in general to add some new attribute to speed up movement such as` translateX={[X1, X2]} movementSpeed={[??]}` instead of changing the translations in each element manually.
for example multiplying or dividing (not sure) the number of X2 or Y2 in` translateX={[X1, X2]}` and

[2022-03-11 02:02] jscottsmith commented on #141
Perhaps what may be more clear to users would be something like `speedX` and `speedY`. Their behavior would be limited to the corresponding x/y axis, but would essentially be the same as `speed`.

If that were the case you could do:

[code]

[2022-03-13 07:29] cireix opened #142 "Incorrect initial loading of values"
Initial values should be the same as what is inputted.

VSCode:
![image](https://user-images.githubusercontent.com/30269755/158049791-6f0c117c-0873-498b-93a1-ffb52cba8a1f.png)

Rendered:
![image](https://user-images.githubusercontent.com/30269755/158049824-c067a8cf-26bd-4f86-bcf6-6e0849068cc5.png)

The rendered translateY value should be the same as the start value of translateY in the code.

[2022-03-14 00:41] jscottsmith commented on #142
Are you able to provide a link to your site or a demo of the behavior? It would be helpful in determining the cause of this behavior.

This may be due to the way translate effects are scaled in certain cases. You can disable this behavior with the option `shouldDisableScalingTranslations`, see the [config prop options](https://react-scroll-parallax.damnthat.tv/docs/usage/parallax-props#configurati

[2022-03-14 00:54] jscottsmith commented on #142
Not sure how to reproduce this -- here's [my attempt](https://codesandbox.io/s/react-scroll-parallax-bug-tqe3pw?file=/src/App.tsx) based on the setup you have, but everything looks normal to me.

[2022-03-14 02:13] cireix commented on #142
Here's a [playground](https://codesandbox.io/s/nervous-water-4v7nfw) to work with.

[2022-03-14 03:42] jscottsmith commented on #142
Thanks! that helps. I see the issue now and have an idea of what may be causing it. I will look into it and see if I can get a fix out soon.

[2022-03-14 06:08] jscottsmith commented on #142
Published a fix in the dependency. You should be able to see the fix in `v3.0.5`. Example: https://nujwyi.csb.app/

Let me know if you have any trouble.

[2022-03-14 06:08] #142 closed

[2022-03-14 06:13] cireix commented on #142
Thanks for the quick fix!

[2022-03-16 08:31] AlexisDoroszkiewicz opened #143 "Warnings"
## Trouble With Implementation

Describe the trouble you are having considering the following:

* Are you seeing any errors or warnings?
The package works and is functionnal, however i do get these warnings :

` WARNING in ./node_modules/react-scroll-parallax/src/index.ts 1:397-535
    "export 'EffectNumber' was not found in 'parallax-controller'
     @ ./build/bundling/entry-points/server.ts

[2022-03-16 08:34] #143 closed

[2022-03-17 08:18] sourcelocation opened #144 "Animations lag / jitter on iOS"
**Describe the bug**
A clear and concise description of what the bug is.

The example ParallaxBanner lags on iOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Go https://react-scroll-parallax-v3.surge.sh/?path=/story/components-parallaxbanner--with-a-single-background on iOS (Xcode Simulator or real phone)
2. Scroll

**Expected behavior**
The animations are expected to be smooth

**Screen

[2022-03-17 15:33] jscottsmith commented on #144
Ya, this is unfortunate issue with most scroll effects on mobile.
I recommend disabling or limiting the effect -- in this case of the storybook banner decrease the movement.

More info here on [performance](https://parallax-controller.damnthat.tv/docs/performance).

If you have recommendations on how to improve performance on mobile please submit a PR. Thanks!

[2022-03-17 15:33] #144 closed

[2022-03-19 07:11] beamercola commented on #133
Is there any way to use these values as relative?

[2022-03-26 02:46] dohomi opened #147 "Lazyload image of ParallaxBanner"
Hello

I really like your work on this library, it works flawless! Are there any technique in place to lazyload banner images or even support `srcSet`?

Thanks

[2022-03-26 05:47] jscottsmith commented on #147
@dohomi so if you are using `ParallaxBanner` unfortunately not since it is setup using background images internally.

But I think it would be a good improvement to update the `ParallaxBanner` component to use `img` elements so there could easily be support for `srcSet` and `loading` attributes.

I'll leave this open and look into updating the banner next week.

If you need something quickly, you c

[2022-03-27 01:12] dohomi commented on #147
@jscottsmith I am using NextJS image at the moment, but your suggestion will definitely be a huge improvement.

[2022-03-27 21:59] jscottsmith commented on #147
Good to know. In that case it may be even better to allow more flexibility by allowing for any image component to be composed within the banner.

Potentially something like this and just removing the `layers` prop:

[code]

[2022-03-28 01:11] dohomi commented on #147
@jscottsmith that is definitely the most flexible way to go. One question: isn't `BannerLayer` then almost the same as `Parallax` component itself? Maybe it could be reduced to:
[code]
Or is there any difference between a layer and a parallax item? Not 100% sure what the `ParallaxBanner` wrap is purposely doing?

[2022-03-28 05:51] jscottsmith commented on #147
Not quite, couple things need to happen to make these banners layers work differently from the normal `Parallax` elements:

1. Hide `overflow` and set `position` which is done in the parent element `ParallaxBanner`
2. And in each child, the layer needs to be expanded with negative `top` and `bottom` values based upon the amount it moves (`speed` or `translateY` values determine the amount) -- othe

[2022-03-29 01:41] dohomi commented on #147
Thanks for the clarification. I totally would vote for a `BannerLayer` component but either way, currently I archive the same with the `children` prop. But I guess cleaner approach would be a component rather than an array of props.

[2022-04-08 20:50] mattoni opened #151 "Can't disable effect after initialization"
Hi there!

I'm unable to disable the effect after it's been initialized. The use case is that I am using SSR, but need to disable the effect on mobile due to performance. If I try to change the disabled property on the effect after the client is rehydrated, nothing happens and the effect still occurs. My expectation would be that it would be switched off. If this is not the proper way to do that,

[2022-04-09 00:07] jscottsmith commented on #151
Ya sounds like a bug but I'll need an example to know for sure.

Some questions to help me reproduce this:

Are you using the `useParallax` hook?  Or are we talking about the `ParallaxBanner` component? Can you share the relevant code blocks please?

Are you using Next JS/Gatsby SSR?

[2022-04-09 00:10] mattoni commented on #151
It fails with both the `<Parallax />` component and the `useParallax` hook. Basically, I'm doing this:

[code]

and I set `scrollDisabled` to false on the client, in a useEffect, once the screen width has been determined.

I'm using Remix, but I imagine it'd be the same for NextJS/Gatsby.

[2022-04-09 00:14] jscottsmith commented on #151
Great, thanks, I'll look into it!

[2022-04-10 18:43] jscottsmith commented on #151
@mattoni please try updating to version `v3.0.6` and let me know if the issue is resolved. Thanks!

[2022-04-11 20:09] #151 closed

[2022-04-14 18:58] mattoni commented on #151
Perfect, this worked. Thanks so much @jscottsmith !

[2022-04-16 15:33] CodeDoctorDE opened #153 "GIF Animation"
Hello, I found your library and found it very useful.
But I have one issue I'm facing with: How can I animate a gif while scrolling?
Like here https://www.apple.com/macbook-pro-14-and-16/ where the mac is opened when you scroll

[2022-04-16 19:07] jscottsmith commented on #153
You won't be able to create this effect with this library.

Effects like the one on Apple's website are not created with GIFs but with a large sequence of images (jpg/png) that are displayed based on scroll position.

Example of such effect with code. https://codepen.io/jacob_124/pen/dyydWbB

I'm not aware of any libraries that are able to create this effect but you can try and search for one or c

[2022-04-16 19:07] #153 closed

[2022-04-17 06:59] CodeDoctorDE commented on #153
Thanks for your tip. https://react-scroll-parallax.damnthat.tv/docs/examples/how-it-works#progress-is-relative-to-the-view maybe I can integrate your library to get the progress

[2022-04-21 09:06] Junaidejaz111 commented on #81
How can I set the inset property to 0 with styles? @jscottsmith can you please guide I couldn't find any help anywhere. The default     inset: -500px 0px;

[2022-04-23 20:04] Oriole-Alex opened #154 "Freeze Element"
## Support

Hi,

I can't for the life of me work out how to freeze a <Parallax> section for a designated amount of scroll distance. I want to keep a background image locked in place for the first few screens before sliding away - how do I do this?

Sorry if this is explained in the docs but I can't find any information on this functionality
many thanks

[2022-04-23 21:07] jscottsmith commented on #154
The easiest way to achieve this would be to use a `targetElement` to trigger scroll progress. There's an example of this in the storybook:

https://react-scroll-parallax-v3.surge.sh/?path=/story/components-parallax-vertical-scroll--with-defined-target-element

Create an element that is positioned within the window when you want the background to animate.

[code]

I'm just realizing that `targetEle

[2022-04-23 21:41] Oriole-Alex commented on #154
thanks for the fast reply!

Apologies, I'm not 100% with you. Could you explain further how this works? I'm unclear on how the background element is referring to another to trigger its delayed movement

[2022-04-23 22:00] jscottsmith commented on #154
By default parallax elements are always animated when they are in view. The progress is illustrated clearly in this [example](https://react-scroll-parallax.damnthat.tv/docs/examples/how-it-works#progress-is-relative-to-the-view)

Since you want the background to stop animating at a point but still remain visible (in the view) you need to position an element (can be hidden) that scrolls into view w

[2022-04-23 22:03] Oriole-Alex commented on #154
Ah that explains it perfectly!
going to give it a go now

thanks a mil for taking the time to reply :)

[2022-04-23 22:10] jscottsmith commented on #154
No problem. Closing this but reach out if you need more help.

[2022-04-23 22:10] #154 closed

[2022-04-23 22:26] Oriole-Alex commented on #154
hi mate, sorry thought i understood but playing with the examples I'm stumped.

So my understanding is that if I reference the <Parallax> element to a <div> further down the page at the point which I want the background to start moving, the background should stay locked in its original position until that <div> comes into the view space and as such starts the background to move.

The example (http

[2022-04-23 22:44] jscottsmith commented on #154
My fault.

The sandbox wasn't working correctly on initial load because the `ref` is only captured on the first render so the Parallax element was never receiving a `targetElement`

I updated it to use state, set the target element in state in a use effect, then one that target element is available we can render the parallax element. Refresh the [sandbox](https://codesandbox.io/s/react-scroll-para

[2022-04-24 09:30] Oriole-Alex commented on #154
Haha superb! thanks for updating it! I've got it working in my code now with your after your changes 💪thanks again for all the help!

[2022-04-24 09:45] Oriole-Alex commented on #154
Another question has just come up in this vein - how would I scroll something into view, e.g half way up the screen, then lock it in place for a while, before letting it scroll (or whatever parallax animation) off the screen? The currently ref solution seems to only work for keeping something static and visible from the beginning.
thanks

[2022-04-24 19:09] jscottsmith commented on #154
You can use `position: sticky` on the parallax element to achieve such an effect.
It will take the correct positioning of a container and the target element to get animation timing at the right moment but it's possible.

I updated the [Code Sandbox](https://codesandbox.io/s/react-scroll-parallax-target-element-m635p5?file=/src/App.tsx) to illustrate the sticky effect: https://m635p5.csb.app/

Noti

[2022-04-24 22:12] Oriole-Alex commented on #154
You have smashed it again! thanks a mil this is superb! Really helps having the example

[2022-04-24 22:24] jscottsmith commented on #154
Glad it helps. This is something I plan to document better and provide examples for in #134

[2022-05-03 05:43] dohomi opened #157 "Feature Request: rootMargin currently only supports number and not percentage values"
I would love to trigger the scroll animation when the middle of a screen is passed (animated timeline with connector). This currently seems not be able because rootMargin is bind to top, left, bottom, right and all values seems to be number (pixel) only.

Do you have a solution to start the scroll animation in the middle of the viewport?

[2022-05-03 17:55] jscottsmith commented on #157
Ya, I'll have to think about this some more because I'm not sure `rootMargin` is the right API to adapt for this. Currently it works by adding a margin around an element so that it appears to enter earlier or leave later. In your case the percent would be based off the view (scroll window). If we did go this route, you'd need to do something like `rootMargin: [-50%, 0, 0, 0]`. This feels odd.

May

[2022-05-04 10:22] dohomi commented on #157
@jscottsmith thanks for your explanation. I am currently unsure if this package actually is the right one to have this timeline effect as shown in for example in this demo:
https://codesandbox.io/s/brave-kepler-fdbzv?file=/src/App.js:0-1097
as I use already the react-scroll-parallax I thought I could reduce some bundle size but wasn't yet successful

[2022-05-05 17:59] ishtiaqSamdani opened #158 "Increasing size"
It will be very nice if we have a attribute which can control the size of parallax layer component

[2022-05-05 19:34] jscottsmith commented on #158
Open to new features but you'll need to elaborate:

What "size" are you talking about?
Do you mean the layers of the `ParallaxBanner` component?
Can you provide some examples with code of the changes you're proposing and why?

Let me know so I can consider how to support the request.

[2022-05-06 16:30] #158 closed

[2022-05-07 05:34] jscottsmith commented on #157
I see. Ya you may be able to achieve that but it could be a little tricky. I tried mocking something up using `startScroll` and `endScroll` which you'd have to calculate manually to fit your needs:

https://codesandbox.io/s/react-scroll-parallax-view-progress-0h7r00?file=/src/App.tsx

But you may be better off with just another package ;)

[2022-05-09 03:11] dohomi commented on #157
Thanks for the demo :-)

[2022-05-16 18:27] TipicultBiomassa opened #160 "Spinning effect in default Create-react-app"
## Support

I was trying to copy spinning example and i succeded using Astro but when i copy competely the same code in my default react app created using create-react-app it doesn't spin. Element doesn't have transorm style but in astro it's fine. I don't get it
`
[code]
index:

[code]

[2022-05-16 23:00] jscottsmith commented on #160
The example code you are copying uses [Tailwind](https://tailwindcss.com/) styling and I doubt things will work properly without it.

I don't know what Astro is.

Do you have a live link? I'll need to see this site in order to provide any more help.

[2022-05-17 06:55] TipicultBiomassa commented on #160
I know. Tailwind is added. Here is a proof that it will work without tailwind. https://codesandbox.io/s/rbeqjp?file=/src/App.tsx:465-483

Astro is static generator like NextJS or Gatsby. I think ref (ref={parallax.ref}) for my div is not working. My div doesn't have transform

[2022-05-17 16:48] TipicultBiomassa commented on #160
It's super strange but looks like it's not working on JS create react app template but it works with typescript template.

[2022-05-17 17:10] TipicultBiomassa commented on #160
Yeah. [https://codesandbox.io/s/react-scroll-parallax-template-forked-rbeqjp?file=/src/App.jsx](here it is).
It's not working but if you change both file ext to tsx insead of jsx and then relead a page - it will work. Why?

[2022-05-17 18:20] jscottsmith commented on #160
If you're switching to Javascript you need to remove the types in the code: `useParallax<HTMLDivElement>()` should be just `useParallax()`

[2022-05-18 06:45] TipicultBiomassa commented on #160
Sorry. It was so obvious but there no highligting or anything

[2022-05-18 17:57] jscottsmith commented on #160
No worries

[2022-05-18 17:57] #160 closed

[2022-06-12 10:07] JayBox325 commented on #38
Would be interested to see an example of this using Hooks as someone that is new to React.

[2022-06-13 04:28] jscottsmith commented on #38
@JayBox325 I'd recommend something like `react-responsive` then use a hook to disable parallax when a media query is met.

Example:  https://codesandbox.io/s/react-scroll-parallax-disabled-on-mobile-33gysv?file=/src/Example.tsx:0-406

[code]

[2022-06-17 15:14] JayBox325 commented on #38
@jscottsmith that's amazing, I actually did something very similar, but I'm using the components instead. This is me making a reusable container that parallaxes due to it being needed on a few different other elements (will be making the speed and which breakpoint is stops a prop that can be passed):

[code]

And this seems to work on first render, but doesn't reset it on resize?

[2022-07-27 14:43] ximudada1996 opened #164 "Doesn't work with features like smooth-scroll that use translate3D scrollviews"
## Support

At present, it cannot be used with functions such as smooth-scroll, perhaps because the former uses translate3D to control the scrolling of the canvas, so react-parallax-scroll cannot be recognized, and functions can be added to help windows users achieve smooth scrolling to improve user experience ?

[2022-07-27 20:55] jscottsmith commented on #164
@ximudada1996 is "smooth-scroll" an NPM package you're trying to use? Can you elaborate on this more? Maybe provide a demo in CodeSandbox

Not sure how to help without more information.

[2022-07-28 08:26] ximudada1996 commented on #164
I wrote an example using codesandbox to restore the scene with and without react-parallax-scroll, you can check the link to see the situation. Thanks~

Codesandbox：https://codesandbox.io/s/react-parallax-with-smooth-scroll-w7sm4v?file=/src/App.js

[2022-07-29 23:07] jscottsmith commented on #164
I understand now, thank you for the reproduction

I don't see any way that I can support this as `react-scroll-parallax` relies entirely on native scrolling events and the `smooth-scrollbar` package implements its own scroll management with transforms like you said. They are entirely incompatible as far as I can tell.

Perhaps there's a smooth scroll solution that uses native scrolling views -- ho

[2022-07-29 23:07] #164 closed

[2022-08-09 14:02] philsp opened #165 "ParallaxBannerLayer export"
ParallaxBannerLayer isn't exported in src/index.ts

Demo from docs:
https://codesandbox.io/s/dreamy-sunset-ukssjr?file=/src/App.js

[2022-08-09 18:32] jscottsmith commented on #165
@philsp thanks, just published a patch `3.3.1`. Let me know if there's still issues.

[2022-08-09 18:32] #165 closed

[2022-08-25 06:09] #147 closed

[2022-09-02 02:02] aryabeth opened #167 "How to implement breakpoint for startScroll and endScroll"
Can we add break point value for startScroll and endScroll?

i'm implement this code but it doesn't work on mobile and HD screen, i think because scroll value is different on mobile and HD Screen.

[code]

[2022-09-03 21:19] jscottsmith commented on #167
@aryabeth `startScroll` and `endScroll` will change dramatically based on screen size. You must calculate them yourself and proved different values based on your requirements. This is kind of a last resort for users with highly custom needs.

You're probably better off using a `targetElement` positioned with CSS. This way it will resize and update with the browser window and you won't need to manu

[2022-09-03 21:19] #167 closed

[2022-09-10 21:50] lakshbhutani1 opened #168 "I want to slow down the scroll speed for one container and increase the speed of other container. How can I do that dynamically?"
## Bug

Attaching the link of code sandbox https://codesandbox.io/s/sad-khayyam-huxy9m?file=/src/App.js

I want to increase the speed of A container when items in A are many(let's suppose more than 30) and decrease the speed of I G B  container at right and similarly with the other side (i.e if items in G are many(lets's suppose 100) and items in A are lets suppose 10 I want to decrease the speed

[2022-09-11 05:07] jscottsmith commented on #168
Appreciate the CodeSandbox but I'm not sure I understand the intent here. You can change the speed dynamically but the result won't be smooth. My guess is you're trying to do something that could be accomplished another way and that this library isn't going to be much help for you.

If you have a design or mockup you're trying to reproduce I'd be happy to help suggest alternative approaches but no

[2022-09-11 05:07] #168 closed

[2022-09-11 13:23] lakshbhutani1 commented on #168
I've updated the sandbox. https://codesandbox.io/s/sad-khayyam-huxy9m?file=/src/App.js
So the question is while scrolling vertically, I want to slow down the scroll speed of **G** container and increase the speed of **A** container. How can I achieve that because when I add speed to both container(let's say -100 to G and and 100 to A), it adds some margin top and margin bottom. any solutions to th

[2022-09-11 21:46] jscottsmith commented on #168
I don't think this library will work for your needs. I wouldn't recommend changing the `speed` dynamically. It's not how it was intended to be used.

If you have a prototype of the design your trying to achieve please link it here and I can recommend some alternative approaches.

[2022-09-14 09:04] Nahay opened #169 "All animations starts on top scroll"
Hi,
I tried to animate elements on a horizontal website. I modified the scrollContainer so the animations work but they all start the same time (on scroll 0, onEnter event log for each animations). Means when we reach it in viewport animation is already ended.

Here is the code : https://codesandbox.io/s/charming-silence-kw55ge?file=/src/App.js

[2022-09-14 15:47] jscottsmith commented on #169
There's some odd styling that is conflicting with the parallax setup. I've commented it out and also set `scrollAxis="horizontal"` in the provider and things seem to work.

[2022-09-16 05:05] #169 closed

[2022-10-02 13:23] Prouser123 opened #171 "(Support) ParallaxBanner obscuring content below it"
## Support

Hi, I'm trying to use a `ParallaxBanner` but I find that as I scroll down, it obscures text/content below it.
Here's a CodeSandbox that has the same issue:
https://codesandbox.io/s/react-scroll-parallax-demo-qbzmb1

Thank you,

\- James

[2022-10-03 00:13] jscottsmith commented on #171
@Prouser123 I think you accidentally wrapped the banner in a `<Parallax>` component. The `<ParallaxBanner>` handles this internally so just remove it and everything should be good.

You did this:

[code]

Instead do this:

[code]

Updated Codesandbox: https://codesandbox.io/s/react-scroll-parallax-demo-forked-lodpei?file=/src/App.tsx

[2022-10-03 00:13] #171 closed

[2022-10-03 06:21] Prouser123 commented on #171
Ah, okay.

Thank you very much!

- James

[2022-10-20 08:28] kzt22 commented on #122
Is there a way to get the initial transform value set from the Parallax?

[2022-10-21 10:11] neaumusic opened #172 "Clarify translateY start and end, perhaps with diagrams"
First of all, I just want to say this project is great, including the examples, the documentation framework, etc

I spent a while today trying to pick up and utilize the Banner implementation, which was actually incredibly easy to get started with.

Unfortunately, I had to translateY to show specific portions of a banner which was already on the page, and coming from regular CSS it was really diff

[2022-10-21 10:18] neaumusic commented on #172
Also, before I forget, typically blocks expand in height dynamically as contents wrap, but knowing that the banner was a fixed height and that I was working with percentages of that height helped me to realize that the translations I was choosing wouldn't actually depend on device scaling, eg 25% of a 600px banner will always be 150px, even if that 150px is scaled on a device or with the browser z

[2022-10-21 21:52] neaumusic commented on #172
It seems I'm still very confused about how `translateY` works, I filmed an example with `[10, 0]` which works great, but if I specify `[10, -10]` or any second value, it becomes extremely difficult to determine which points on the original container map to which new values.

Could you possible make a demo like this with `vh` lines and a full screen image to clarify `translateY` ?

https://user-ima

[2022-10-23 03:30] neaumusic commented on #172
@jscottsmith I forked and [created a branch](https://github.com/neaumusic/react-scroll-parallax/tree/repro-translateY-breakpoints) to demo the translateY issue

[2022-10-30 03:34] jscottsmith commented on #172
Hi thanks for the suggestions on the docs, I'll consider them. Also open to PRs if you have specific suggestions.

I don't see any issue with what you've described. It appears to work as intended. It may help you to know that the `translateY` and all other transforms work just like their CSS counterpart. Taking the `translateY: [10, 0]` example is starting the parallax element at `translateY(10%)`

[2022-10-30 03:34] #172 closed

[2022-11-02 02:42] neaumusic commented on #172
@jscottsmith sounds good, I'll open a discussion to clarify the issue a bit and it's good to know they're supposed to be equivalent to css transforms -- pretty much, when using both start and end translation percentages of +/-10 they dont seem to line up correctly with the image actually being +/-10% into the window